[2015-12-23 21:22] Petah opened #7 "NoKeywordsException"
Doesn't seem to work out of the box.

I added the 2 deps to composer, added the sample ruleset, and ran the example command, then got the error below.

[code]

[2015-12-23 21:30] ondrejmirtes commented on #7
Well, I think the exception message is quite obvious: Sniff
SlevomatCodingStandard\Sniffs\Namespaces\FullyQualifiedClassNameAfterKeywordSniff
requires an array of keywords set in property keywordsToCheck

You can either ignore this sniff (as described in README) or set after
which keywords you require fully qualified namespaces.

On Wednesday, December 23, 2015, David Neilsen <notifications@github

[2015-12-23 21:32] Petah commented on #7
So maybe more of a docs issue then? I just followed the "Using the standard as a whole" part. How do I add these extra requirements?

[2015-12-24 09:34] ondrejmirtes commented on #7
There's no one correct setting. When adopting this standard, you should consider how your codebase currently looks and customize the settings for that. So if you currently don't require FQN after some keyword, you should ignore this sniff. Ignoring sniffs is described [here](https://github.com/slevomat/coding-standard#use-all-sniffs-except-for-the-unwanted-ones).

If you want to adopt this sniff a

[2015-12-24 09:34] #7 closed

[2016-01-31 09:59] mhujer opened #16 "PHPStorm inspections does not work with TypeNameMatchesFileNameSniff"
When you use *path checking* rules (e.g. `TypeNameMatchesFileNameSniff`), PHPStorm CodeSniffer inspection will report *false-positives* because temporary file with incorrect path is used for validation.

**See the PHPStorm issue**: https://youtrack.jetbrains.com/issue/WI-30583

(I know this is not an issue of the sniffs or the coding standard itself, but I think it may be useful to have it noted h

[2016-02-02 19:17] ondrejmirtes commented on #16
Thank you. I noticed this too last week when my colleague showed it to me. I also think it's an issue of the IDE and I'm not sure how to fix it from our point of view.

You could probably fix it by creating a special ruleset.xml and pointing PhpStorm to it. Your CI environment would still run this sniff, but IDE would use a different ruleset.xml that included the project's ruleset.xml and addition

[2016-02-07 20:17] mhujer commented on #16
@ondrejmirtes creating an extra `ruleset.xml` which excludes the problematic sniff is a good workaround, thanks fo the idea!

[2016-02-15 00:28] fabik opened #18 "Notices are thrown because T_RETURN_TYPE is missing"
Commit cf2387121e97f64c72721ac0722618d70b24a20c causes phpcs to throw notices:

[code]

[2016-02-15 09:29] ondrejmirtes commented on #18
What method of installation do you use? Are you sure you have correct version of PHPCS installed?

Because `T_RETURN_TYPE` constant is [defined as part of PHP_CodeSniffer itself](https://github.com/squizlabs/PHP_CodeSniffer/blob/b062aefede08b15b6691e6e24bf9befad80e49cb/CodeSniffer/Tokens.php#L75), so I don't know how it could not be defined under PHP 5.6.

[2016-02-15 13:52] fabik commented on #18
I've installed phpcs using Composer by adding
[code]
to composer.json.

According to vendor/composer/installed.json Composer installed package squizlabs/php_codesniffer in version 2.3.4.

[2016-02-15 13:55] fabik commented on #18
Constant T_RETURN_TYPE has been added to phpcs in version 2.4.0.
https://github.com/squizlabs/PHP_CodeSniffer/releases/tag/2.4.0

I'd suggest adding
[code]
to composer.json of this library.

[2016-02-15 14:02] fabik commented on #18
I solved the problem by updating consistence/coding-standard to 0.10.1.

Thank you for help!

[2016-02-15 22:11] #18 closed

[2016-03-15 12:53] pepakriz opened #21 "UnusedUses MismatchingCaseSensitivity on valid code"
Example:

[code]

lint output:

[code]

[2016-03-18 09:43] #21 closed

[2016-04-02 22:12] meridius opened #22 "Unused use warning for class in @return"
I get fillowing even when my use is specified in `@return` doc comment.

Consider this:
[code]

[2016-04-02 22:31] ondrejmirtes commented on #22
Please refer to the documentation of the sniff in the README. There's a setting to search in the annotations too.

Ondřej Mirtes

On Sat, Apr 2, 2016 at 3:12 PM -0700, "Martin Lukeš" <notifications@github.com> wrote:

I get fillowing even when my use is specified in @return doc comment.

Type ReturnedClass is not used in this file (SlevomatCodingStandard.Namespaces.UnusedUses.UnusedUse)

Consider

[2016-04-02 22:31] #22 closed

[2016-04-02 23:08] meridius commented on #22
I know that @ondrejmirtes , but I'm not able to set my `ruleset.xml` to use that setting. Here is my ruleset (trimmed), I'd be very grateful, if you could look into that.

[code]

Thank you in advance

[2016-04-03 12:30] janlanger commented on #22
@meridius Take a look in here for correct syntax https://github.com/slevomat/csob-gateway/blob/master/build/ruleset.xml#L18 The ref="" should be `SlevomatCodingStandard.Namespaces.UnusedUses`

[2016-04-03 12:35] janlanger commented on #16
Looks like this was fixed by PhpStorm team (or will be in next version)

[2016-04-03 12:35] #16 closed

[2016-04-03 18:49] meridius commented on #22
Thank you @janlanger

[2016-04-06 11:12] mhujer commented on #16
It works fine in PhpStorm 2016.1.1 EAP! https://twitter.com/phpstorm/status/717665814372081664

[2016-04-06 11:13] ondrejmirtes commented on #16
Cool :+1:

[2016-04-16 18:08] meridius opened #27 "Unused use warning for class in type comment"
As far as I know, there is no support for parsing type comments by _SlevomatCodingStandard.Namespaces.UnusedUses_.

Consider this, which will be found as error _SlevomatCodingStandard.Namespaces.UnusedUses.UnusedUse_
[code]

Could support for that be added please?

[2016-04-16 21:01] ondrejmirtes commented on #27
Do you have searchAnnotations set to true as advised in #22? Can you send failing test or PR?

[2016-04-16 22:20] meridius commented on #27
Sure I have searchAnnotations enabled. ;)
Here is the failing test.

[2016-04-18 10:40] #27 closed

[2016-05-19 12:56] fprochazka opened #41 "Namespaces.ReferenceUsedNamesOnly & Throwable"
Hi, can you tell me please what is the best way to solve the following problem? We want to check if `Throwable` is used absolutely in catch statements, same as other exceptions.

I know I can solve it simply using the `specialExceptionNames` property like this

[code]

But wouldn't it be cleaner to have a condition for it in the sniff? Since `Throwable` is not really a "special case" it should imh

[2016-05-19 13:07] ondrejmirtes commented on #41
I think it's not enough to change just ReferenceUsedNamesOnly, but also FullyQualifiedExceptionsSniff.

There is a clear omission in these sniffs that didn't occur to me once we started using PHP 7 - because no one ever put Throwable in a use statement here 😄

Adding mention about `Throwable` to ReferenceUsedNamesOnly will help when `allowFullyQualifiedExceptions` is set to false.

Adding `Throwab

[2016-05-19 13:30] fprochazka commented on #41
Thanks for the hint! I have something like this now.

[code]

I wanted to send the PR myself, but got confused by your tests. If you'd have time to solve this, that would be great :)

[2016-05-27 08:33] ondrejmirtes commented on #41
Can you verify that PR #42 fixes your issue without the need for special configuration mentioning `Throwable`? Thanks.

[2016-05-27 08:35] ondrejmirtes commented on #41
It just occured to me that I should implement checking for types ending with `Error` too.

[2016-05-27 08:43] ondrejmirtes commented on #41
Alright, updated.

[2016-06-23 07:59] finwe opened #44 "Optionally allow FQN for instanceof in ReferenceUsedNamesOnlySniff"
"Feature" request.

`instanceof` matching is potentially dangerous same ways as `throw`ing/`catch`ing exceptions, therefore FQN should be allowed (optionally with user setting, same as `$allowFullyQualifiedExceptions`).

[2016-06-23 09:32] ondrejmirtes commented on #44
Have you tried putting `T_INSTANCEOF` in configurations of `SlevomatCodingStandard.Namespaces.FullyQualifiedClassNameAfterKeyword` (`keywordsToCheck`) and `SlevomatCodingStandard.Namespaces.ReferenceUsedNamesOnly` (`fullyQualifiedKeywords `)? I haven't tested it but it should just work. Refer to README for details.

[2016-06-23 10:18] finwe commented on #44
Oh, this works. I already have `T_EXTENDS,T_IMPLEMENTS` there. Just forgot. And `Exception`s are a special token-less case I guess.

Thanks, closing this.

[2016-06-23 10:18] #44 closed

[2016-07-21 09:15] janedbal opened #47 "Sniff AlphabeticallySortedUses sorts alphabetically also functions"
I know this it not so common, but this sniff behaves differently then optimizing use statements for example in PhpStorm. I don't know if this is intentional so I'm noticing it here.

Expected order by this sniff (strict alphabetical):
[code]

Optimized by PhpStorm (functions at the end):
[code]

[2016-07-21 09:20] ondrejmirtes commented on #47
There is no support for use function a use const because I literally haven't heard about this syntax until now. We will fix it for sure in the future and try to stay compatible with PhpStorm. /cc @pepakriz

[2016-07-21 10:31] pepakriz commented on #47
@ondrejmirtes  I agree

[2016-08-05 13:27] f3l1x opened #49 "EmptyLinesAroundTypeBrances - add fixer alternative"
It would be useful if `EmptyLinesAroundTypeBrances` sniff would by automatic fix the reported lines.

I could prepare PR if you like.

[2016-08-05 17:03] ondrejmirtes commented on #49
Yep, sure, you can send a PR 😊 Please think about fixing both missing and
extra newlines.

On Friday, 5 August 2016, Milan Felix Šulc <notifications@github.com> wrote:

--

Ondřej Mirtes

[2016-08-08 08:29] ondrejmirtes commented on #41
I merged the PR #42: https://github.com/slevomat/coding-standard/commit/d2989ad1184e750570010bbfa89a2b54da7208f8

[2016-08-08 08:29] #41 closed

[2016-08-08 09:28] VasekPurchart commented on #41
Thanks! :)

[2016-08-08 12:35] ondrejmirtes commented on #47
Fixed with https://github.com/slevomat/coding-standard/commit/0a12b4a1fda0157d199a1e0e8f8c163902eba573

[2016-08-08 12:35] #47 closed

[2016-08-09 10:30] VasekPurchart opened #52 "False positives with *Error types"
Newly introduced checking of `*Error` types in [1.1](https://github.com/slevomat/coding-standard/releases/tag/1.1) has false positives, when a class is named `*Error`, but is not part of PHP's internal errors.

What's worse is that even PHP has class(es?) which are named like this, but are not an "exception".
In our code base I ran into:

[code]

which then reports error on `LibXMLError`, which is

[2016-08-10 04:58] mrtnzlml opened #56 "Unused private properties when using magic __get"
Hi, I want to use magic method for simple properties in object like in the example bellow. You can access them using `{$order->orderNumber}` in template thanks to the `@method` annotation. With this approach it's super easy to write custom getter without breaking code in the template. It's somehow possible to take `@method` annotations into account? Or should I think about better approach? Thanks!

[2016-08-10 07:15] ondrejmirtes commented on #56
Hi,
`UnusedPrivateElementsSniff` supports configuring "always used" properties with listing annotations above such properties that mark them as used, so you can do for example this:

[code]

Also, suffixes (like `Timestamp` in this example) that such properties have in common can be used:

[code]

Version 2.0 currently [in development](https://github.com/slevomat/coding-standard/pull/53) also supp

[2016-08-10 07:15] #56 closed

[2016-08-10 08:54] mrtnzlml commented on #56
Thanks, I'm using `alwaysUsedPropertiesAnnotations` for `@ORM\Column` already. This approach is super easy for frontend developers (`{$order->identifier}` means `OrderDTO::getIdentifier()` and `$identifier` is still private) and I wanted to use something like `LazyAccessor` therefore performance is not an issue. But the proxy pattern seems like an interesting idea. For now I'm going to use a lot o

[2016-08-10 11:22] ondrejmirtes commented on #52
Should be fixed with #57, please test it.

[2016-08-10 15:50] VasekPurchart commented on #52
Now it works correctly, all gren, thanks :)

[2016-08-11 07:36] #52 closed

[2016-08-15 07:51] pepakriz opened #58 "False positives with multiple interface inheritance"
[code]

Result:

[code]

[2016-08-15 07:52] ondrejmirtes commented on #58
Fixed in 1.1.1 AFAIK

On Monday, August 15, 2016, Josef Kříž <notifications@github.com> wrote:

--

Ondřej Mirtes

[2016-08-15 07:57] pepakriz commented on #58
You are right, I'm using 2.0-dev without this bugfix. Can you cherry-pick it or may I send PR?

[2016-08-15 08:00] ondrejmirtes commented on #58
You should't use 2.0-dev because I'm forcepushing it quite often. But the branch should currently be rebased on master therefore it already contains the fix.

[2016-08-15 08:00] #58 closed

[2016-08-15 08:01] pepakriz commented on #58
Ok, I will stay on my own fork for while.

[2016-10-10 14:34] f3l1x opened #60 "UnusedUses - invalid behaviour"
[code]

CodeSniffer result is:

[code]

When I have changed order like this:

[code]

Result is:

[code]

---

Can you help me please?

[2016-10-10 15:08] TomasVotruba commented on #60
Could you send failing test please?

[2016-10-10 15:32] f3l1x commented on #60
I'm not quite good at writing CodeSniffer tests, but I'll try to.

[2016-10-10 15:34] TomasVotruba commented on #60
I'd just copy existing one and replace content:

- https://github.com/slevomat/coding-standard/blob/62d35e6049a60bbd85762852885aa7afec958e8e/tests/Sniffs/Namespaces/UnusedUsesSniffTest.php#L125-L131
- https://github.com/slevomat/coding-standard/blob/master/tests/Sniffs/Namespaces/data/unusedUsesAnnotationUnderscores.php

[2016-10-16 10:26] grogy opened #61 "New sniff - PHP7 strict types"
Hello,

an idea - check if the files includes `declare(strict_types=1);`. Maybe I will send PR

[2016-10-16 10:28] ondrejmirtes commented on #61
It's already there 😊 In the dev-2.0 branch. Also see the roadmap for all
PHP7-related changes: https://trello.com/b/kG8wV0Vp/slevomat-coding-standard

On Sunday, 16 October 2016, Václav Makeš <notifications@github.com> wrote:

--

Ondřej Mirtes

[2016-10-16 10:28] #61 closed

[2016-10-16 11:56] TomasVotruba commented on #61
Awesome, I look forward to that release :)

[2016-10-19 14:54] o5 opened #62 "Documentation of sniffs"
Hello,

any plans to create documentation for these awesome sniffs? I mean documenation in standard format like [UnnecessaryStringConcatStandard](https://github.com/squizlabs/PHP_CodeSniffer/blob/master/CodeSniffer/Standards/Generic/Docs/Strings/UnnecessaryStringConcatStandard.xml) doc.

When I use this sniff in my `ruleset.xml` and run

[code]

documentation in HTML will be generated.
![screen sh

[2016-10-26 11:54] f3l1x commented on #60
Is it already fixed by this https://github.com/slevomat/coding-standard/commit/a84c4ceec148ee42e53179f7ec253dddf33a98fe? :-) @pepakriz

[2016-10-26 11:55] f3l1x commented on #60
I think it's fixed.

https://github.com/slevomat/coding-standard/pull/55

[2016-10-27 10:45] janlanger opened #65 "ReturnTypehintSpacingSniff - array return typehint is not checked"
This method signature has whitespace between closing brace and return typehint colon. The sniff does not report this error.

[code]

Issue is limited only to array type, If the return typehint contains anything else, the error is reported.

[2016-11-02 08:03] meridius opened #66 "Uses of traits are not registered"
The `SlevomatCodingStandard.Namespaces.MultipleUsesPerLine` sniff does not register multiple uses of traits in class. Is that intentional?

This in combination with `SlevomatCodingStandard.Namespaces.UnusedUses.UnusedUse` sniff gives false hope for secure removal of unused use.

Example:

[code]

When both mentioned sniffs are enabled, the `UnusedUses` will report TPhotoGallery as unused use avail

[2016-11-06 09:54] ondrejmirtes commented on #62
Hello, I never heard about this format and I've been using PHP_CodeSniffer for over 5 years :) I'd rather spend time doing more impactful things but feel free to open a PR. Until then, people can refer to the README.

[2016-11-06 09:54] #62 closed

[2016-11-06 10:26] ondrejmirtes commented on #66
Hopefully fixed with https://github.com/slevomat/coding-standard/commit/78d094d20c9a6c8fc8633558fc25376fb88da972. Thanks for the report!

[2016-11-06 10:26] #66 closed

[2016-11-09 16:59] grogy commented on #61
So - is in planning merge the branch or cherry-pick commit with sniff? Or you can help with it?

[2016-11-09 17:32] ondrejmirtes commented on #61
2.0 will be out really soon 😊 I don't want to cp this ito master because
1.x is 5.6-compatible.

On Wed, 9 Nov 2016 at 18:27, Václav Makeš <notifications@github.com> wrote:

[2016-11-25 09:44] meridius opened #69 "false positive for UnusedPrivateElements writeOnlyProperty"
There is a false positive for `SlevomatCodingStandard.Classes.UnusedPrivateElements` sniff when private property is used in a double-quoted string. The sniff is then reporting it as unused `writeOnlyProperty`.

[code]

[2016-11-25 09:47] ondrejmirtes commented on #69
Duplicate of #63. See the discussion there please. Thanks for the report.

[2016-11-25 09:47] #69 closed

[2016-12-12 17:28] james2doyle opened #70 "Installing globally?"
Is it possible to install this package globally and have it work via the command line when not in a folder?

For example, I have the PHPCS sublime plugin which runs on save. I want to use this over the default PSR2 ruleset. But I believe I would need to install this globally to get it to work properly.

Any thoughts?

[2016-12-18 19:11] novjan opened #71 "Documentation"
Please can you create full documentaion for all sniffs?

[2016-12-18 19:15] ondrejmirtes commented on #71
What exactly do you miss in the readme?

On Sun, 18 Dec 2016 at 20:11, novjan <notifications@github.com> wrote:

[2016-12-18 19:28] novjan commented on #71
Ouch , I was searchin with Sniff in name ...

So missing is only this :)
- AssignmentInCondition

I know this Sniff is easy, but ....

[2016-12-21 10:41] f3l1x commented on #60
@ondrejmirtes I think problem still remains. If I use more then two implements.

[code]

[2017-01-04 17:56] simPod opened #76 "Disable ReferenceViaFullyQualifiedName for certain types"
Type \DateTime should not be referenced via a fully qualified name, but via a use statement (SlevomatCodingStandard.Namespaces.ReferenceUsedNamesOnly.ReferenceViaFullyQualifiedName)

Is there a way to disable it for this type? Thanks!

[2017-01-06 16:38] kukulich commented on #65
Added a workaround now: https://github.com/slevomat/coding-standard/commit/48e0da4a9562353faf380a062133564619516627

[2017-01-06 16:38] #65 closed

[2017-01-08 19:37] ondrejmirtes commented on #70
I think it's not a problem. You have to install globally two things:

1) PHP_CodeSniffer
2) This package

You then have to provide the path to `SlevomatCodingStandard/ruleset.xml` when running phpcs.

[2017-01-08 19:37] #70 closed

[2017-01-08 19:37] #49 closed

[2017-01-23 17:41] cleptric opened #84 "False positiv for missingReturnTypeHint"
I'm getting a missingReturnTypeHint error on this function:

[code]

I'm using the php7 branch.

[2017-01-23 17:46] kukulich commented on #84
@cleptric Can you try branch 2.0-dev? It contains newer version of this sniff.

[2017-01-23 19:11] cleptric commented on #84
@kukulich That fixes it, thx. Just another thing: How can I set the `$newlinesCountBetweenOpenTagAndDeclare` inside the `DeclareStrictTypesSniff` to `1`? I want to use

[code]

[2017-01-23 19:11] #84 closed

[2017-01-23 19:26] kukulich commented on #84
@cleptric Set `<property>` to your ruleset.xml, similarly to https://github.com/slevomat/coding-standard/blob/2.0-dev/ruleset.xml#L35

[2017-01-24 00:03] cleptric commented on #84
@kukulich Inside the DeclareStrictTypesSniff, `$newlinesCountBetweenOpenTagAndDeclare` is still 0 when checked in line `91`

[code]

[2017-01-24 08:49] kukulich commented on #84
@cleptric Try this:

[code]

[2017-02-03 14:25] mhujer opened #89 "[2.0-dev] Unused use when used only as nullable return type"
When use is used only as nullable return type hint, CS thinks that it is unused (2.0-dev - latest):

[code]

[2017-02-03 15:34] kukulich commented on #89
@mhujer

Do you really use latest 2.0-dev? I think it should be fixed with this commit: https://github.com/slevomat/coding-standard/commit/56dbb03aad150e4f8ad648a120bdf8f523c9a4a1

I tried to add test with your code now and it works: https://github.com/slevomat/coding-standard/pull/90

[2017-02-03 19:16] mhujer commented on #89
Sorry, my bad. I had a constraint for older version of consistence/coding-standard, which had a constraint for codesniffer 2.7, therefore Composer resolved to older slevomat/coding-standard version. It works after proper update.

[2017-02-03 19:16] #89 closed

[2017-02-05 19:27] kukulich commented on #76
@simPod I think you're looking for property `ignoredNames` in this sniff. See https://github.com/slevomat/coding-standard/blob/master/README.md

[2017-02-05 20:28] kukulich commented on #60
It's fixed in branch 2.0-dev for sure.

[2017-02-05 20:28] #60 closed

[2017-02-07 19:09] kukulich commented on #71
![](https://github.trello.services/images/mini-trello-icon.png) [Dokumentace k novým sniffům do README](https://trello.com/c/UEGIpmiU/3-dokumentace-k-novym-sniffum-do-readme)

[2017-02-20 22:38] TomasVotruba opened #106 "False report `SlevomatCodingStandard\Sniffs\Namespaces\UnusedUsesSniff`"
## Code

[code]

## Report

![image](https://cloud.githubusercontent.com/assets/924196/23144099/a730938a-f7c5-11e6-854d-803150a83e5d.png)

[2017-02-20 22:41] kukulich commented on #106
@TomasVotruba Did you enabled `$searchAnnotations` property for this sniff in your ruleset.xml?

[2017-02-20 22:41] ondrejmirtes commented on #106
Please make sure that you have set `searchAnnotations` property to true (https://github.com/slevomat/coding-standard#slevomatcodingstandardnamespacesunuseduses-) and also that you are using the latest version available in the `2.0-dev` branch.

[2017-02-20 22:51] TomasVotruba commented on #106
It works, thank you. Why it is disabled by default?

[2017-02-20 22:51] #106 closed

[2017-02-20 23:20] kukulich commented on #106
Because we prefer to have FQN in annotations.

[2017-02-20 23:41] TomasVotruba commented on #106
I see. Why so?

[2017-02-22 00:48] TomasVotruba opened #108 "SlevomatCodingStandard\Sniffs\TypeHints\TypeHintDeclarationSniff removes @expectedException"
### Code

![image](https://cloud.githubusercontent.com/assets/924196/23191929/c14de494-f8a0-11e6-925e-0fbf0a19ea43.png)

### Report

![image](https://cloud.githubusercontent.com/assets/924196/23191966/fbee6d62-f8a0-11e6-934e-b16be81d8dd3.png)

Is that intended? How to solve it?

Thank you

[2017-02-22 06:17] ondrejmirtes commented on #108
You need to fill out usefulAnnotations property in this sniff. The new
sniffs do not yet have documentation, that's why we haven't released 2.0
yet.

On Wed, 22 Feb 2017 at 01:48, Tomáš Votruba <notifications@github.com>
wrote:

[2017-02-22 09:25] TomasVotruba commented on #108
What to se to `usefulAnnotations` to make it work?

[2017-02-22 09:26] ondrejmirtes commented on #108
The name of your annotation including @ and type=array.

On Wed, 22 Feb 2017 at 10:25, Tomáš Votruba <notifications@github.com>
wrote:

[2017-02-22 09:28] kukulich commented on #108
See https://github.com/slevomat/coding-standard/blob/2.0-dev/ruleset.xml#L52

[2017-02-22 13:32] TomasVotruba commented on #108
Thanks both. That's exactly what I was looking for.

I will try it later and confirm by closing.

Do you personally use other annotations there? Might be useful for me.

[2017-02-22 13:34] ondrejmirtes commented on #108
@dataProvider, maybe @throws if you're a fan

On Wed, 22 Feb 2017 at 14:32, Tomáš Votruba <notifications@github.com>
wrote:

[2017-02-22 13:35] kukulich commented on #108
We use this in Slevomat repository:
[code]

[2017-02-23 14:44] TomasVotruba commented on #108
Works perfectly, thank you.
Also for `@dataProvider` tip!

[2017-02-23 14:44] #108 closed

[2017-03-11 22:41] ondrejmirtes commented on #71
AssignmentInCondition is now documented.

[2017-03-11 22:41] #71 closed

[2017-03-13 15:16] thekabal opened #115 "Composer conflicts in requirements when following README in download"
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - consistence/coding-standard 0.10 requires squizlabs/php_codesniffer ~2.5.0 -> satisfiable by squizlabs/php_codesniffer[2.5.0, 2.5.1].
    - consistence/coding-standard 0.10.1 requires squizlabs/php_codesniffer ~2.5.1 -> satisfiable by squizlabs/php_codesniffer[2.5.1].
    - Can only install one of: squizl

[2017-03-13 15:19] ondrejmirtes commented on #115
Please install the newest consistence/coding-standard, which is 0.13. We'll fix the instructions in the README.

[2017-03-13 15:21] #115 closed

[2017-03-13 15:27] thekabal opened #116 "PHP Fatal error when running against my project"
Installed using:

            "slevomat/coding-standard": "^2.0",
            "consistence/coding-standard": "^0.13",

and php composer.phar update / php composer.phar install.

Then edited vendor/bin/phpcs.xml to add:
[code]

Not sure I understand the nature of the error, but its entirely possible that I installed wrong, am running it incorrectly, or that my project (with some code from php-4 day

[2017-03-13 15:45] ondrejmirtes commented on #116
You need to configure the sniff as said in the error message:

[code]

[2017-03-13 15:45] #116 closed

[2017-03-13 15:55] ondrejmirtes commented on #116
You can either exclude the sniff (if you don't want fully qualified names after any keyword) or configure its property.

[2017-03-13 16:12] thekabal commented on #116
How do I exclude the hint OR configure the keywords?

[2017-03-13 16:17] ondrejmirtes commented on #116
https://github.com/slevomat/coding-standard#using-individual-sniffs

And configuring this exact sniff is described in the README: https://github.com/slevomat/coding-standard#slevomatcodingstandardnamespacesfullyqualifiedclassnameafterkeyword

[2017-03-13 16:21] thekabal commented on #116
That worked! Many thanks!!

[2017-03-14 03:45] thekabal opened #117 "PDOException should (or should not?) be referenced via a fully qualified name"
When checking this snippet of code in my code base, in setup_info.php, I get inconsistent advice:

[code]
[code]

[2017-03-14 11:21] kukulich commented on #117
Please see documentation https://github.com/slevomat/coding-standard#slevomatcodingstandardnamespacesreferenceusednamesonly- and configure your sniffs properly.

[2017-03-14 11:21] #117 closed

[2017-03-15 12:44] simPod commented on #76
Thanks for reply! but what should be the value of it?

I'm getting
```Type \DateTime should not be referenced via a fully name, but via a use statement. (SlevomatCodingStandard.Namespaces.ReferenceUsedNamesOnly.ReferenceViaFullyQualifiedName)```

with this setup:

[code]

[2017-03-15 13:16] kukulich commented on #76
@simPod How you want to use this sniff? There's also `namespacesRequiredToUse` option that may help you.

[2017-03-15 13:53] simPod commented on #76
I'm trying to use sniff `SlevomatCodingStandard.Namespaces.ReferenceUsedNamesOnly.ReferenceViaFullyQualifiedName` but force it to ignore namespaces like `\DateTime` or `\Mockery`. Because currenty, I don't use `use \DateTime` ... `new DateTime` but only `new \DateTime` without `use`. Is there a way to do it?

I don't think `namespacesRequiredToUse` is the way. For my case something like `namespace

[2017-03-15 20:48] kukulich commented on #76
I will look at it.

[2017-03-16 10:36] simPod commented on #76
Not sure if it's possible. If not, nevermind

[2017-03-17 16:11] radekhubner opened #119 "Apply TypeNameMatchesFileName to .phpt files"
I'm trying apply `SlevomatCodingStandard.Files.TypeNameMatchesFileName` to all `.php` and `.phpt` files in my project but its working only for `.php` files.

Error:
[code]

My ruleset looks like this::
[code]

This ruleset doesn't work too:
[code]

File `tests\ExampleTest.phpt` looks like this:
[code]

[2017-03-17 16:32] kukulich commented on #119
@radekhubner Try the second configuration but without the `skipDirs` property.

[2017-03-17 16:55] radekhubner commented on #119
@kukulich No changes. The error persists.

[2017-03-17 16:59] kukulich commented on #119
@radekhubner Ok, I'll try it. There may be an error.

[2017-03-17 17:24] radekhubner commented on #119
Everything is working in `dev-2.0-dev` version.

[2017-03-17 17:25] ondrejmirtes commented on #119
Are you even on 2.0? (Stable)
On Fri, 17 Mar 2017 at 18:24, Radek Hübner <notifications@github.com> wrote:

[2017-03-17 19:37] radekhubner commented on #119
2.0 stable is ok too. I'm sorry for this issue.

[2017-03-17 19:38] #119 closed

[2017-03-18 01:01] lookyman opened #120 "DeclareStrictTypes fails with TypeError"
[code]

TypeError: str_repeat() expects parameter 2 to be integer, string given in path/vendor/slevomat/coding-standard/SlevomatCodingStandard/Sniffs/TypeHints/DeclareStrictTypesSniff.php on line 101

It works if you add an `(int)` cast to that line. ~But then there is also another problem with phpcbf, which cannot handle `spacesCountAroundEqualsSign=0` and ends with ERROR.~ *(caused by a conflict

[2017-03-18 07:47] kukulich commented on #120
Fixed in https://github.com/slevomat/coding-standard/commit/37dfa4539433810f1059c2f500fe95edeb9b79d3. Thanks.

[2017-03-18 07:47] #120 closed

[2017-04-03 12:04] Olicek opened #121 "Missing function doc comment error"
Hi,
I have problem with `Missing function doc comment`.
When i have comment above a method, which i don't need, it properly returns error **Method \App\Router\RouterFactory::createRouter() does not need documentation comment.**
[code]
So i remove comment and it returns **Missing function doc comment**.

I don't know, where this error is located. I found it in **PEAR_Sniffs_Commenting_FunctionComme

[2017-04-03 12:06] ondrejmirtes commented on #121
Interesting, can you show us body of the method? Or minimum reproducible code sample that still expresses this error.

[2017-04-03 13:46] Olicek commented on #121
Method:
[code]

resultset:
[code]

[2017-04-03 16:40] Olicek opened #122 "Something enforces long type hint parameter"
**160 | ERROR | [ ] Expected type hint "integer"; found "int" for $positionId**

[code]

Same ruleset as here https://github.com/slevomat/coding-standard/issues/121

[2017-04-03 16:45] kukulich commented on #122
Slevomat CS extends https://github.com/consistence/coding-standard/blob/master/Consistence/ruleset.xml.

This error is part of `Squiz.Commenting.FunctionComment`. You can exclude it with `<exclude name="Squiz.Commenting.FunctionComment.IncorrectParamVarName"/>`

[2017-04-03 16:45] #122 closed

[2017-04-03 19:00] Olicek commented on #122
Sorry, i'm cs loser. Where i should place it? i tried

[code]

Only way, how i was able  to "fixed" it: comment out it at all

[code]

It looks like this `exclude` doesn't effect at all. What i do wrong?

[2017-04-03 19:05] Olicek commented on #121
It is because

[code]
When i exlude it, it works as  i expect. Thx @kukulich for kick me to right way https://github.com/slevomat/coding-standard/issues/122#issuecomment-291201575
[code]

[2017-04-03 19:05] #121 closed

[2017-04-03 19:12] Olicek commented on #122
Ok, i figure it out. It was becasuse `IncorrectTypeHint`. When i exlude, it works properly
[code]

Thank you!

[2017-04-05 22:42] lookyman opened #123 "TypeHintDeclarationSniff settings"
I am on PHP 7.1, but I put this in my `ruleset.xml` for testing purposes:

[code]

This however doesn't seem to have any effect, even though I have nullable types and void returns in my codebase. Shouldn't it scream at me, or is there something I am missing?

[2017-04-06 04:38] ondrejmirtes commented on #123
Please post a code example you expect it to report.

This sniff converts for example string|null phpDoc into ?string native
typehint when enabled.

On Thu, 6 Apr 2017 at 00:43, Lukáš Unger <notifications@github.com> wrote:

[2017-04-06 08:04] kukulich commented on #123
These properties should help you to migrate code from 7.0 to 7.1. It doesn't make any sense for me to migrate from 7.1. to 7.0, so if you turn off these properties, it doesn't report anything :)

[2017-04-06 08:04] #123 closed

[2017-04-06 08:09] lookyman commented on #123
Yep, I thought those properties forbid nullable types and void returns if they are turned off, but they just force them when they are on. My bad, thanks!

[2017-04-06 08:12] ondrejmirtes commented on #123
There's no reason to forbid nullable typehints and voids.

[2017-04-17 15:11] maryo opened #125 "UnusedPrivateElementsSniff incorrectly reports about methods returning references"
[code]

It expects the method name to consist of one token but in case of returning reference it consists of two where the first one is the reference (T_BITWISE_AND).

[2017-04-17 16:14] maryo opened #126 "TypeHintDeclarationSniff incorrectly reports about missing typehint when parameter docBlock contains union of two types, one is traversable and the second one does not specify the traversable type"
[code]

I think it should report only when the annotation is something like "array|string[]". Am I right?
I guess you would probably typed it like `string|mixed[]` and then it would be probably quite OK but I don't use this notation for mixed arrays. I've excluded "MissingTraversableParameterTypeHintSpecification, MissingTraversablePropertyTypeHintSpecification and MissingTraversableReturnTypeHint

[2017-04-17 16:36] kukulich commented on #126
@maryo Could you post here the code of the method please?

[2017-04-17 22:09] kukulich commented on #125
Fixed in https://github.com/slevomat/coding-standard/commit/eb43ba028717a78a50f31ac2139e698e96a526e4

[2017-04-17 22:09] #125 closed

[2017-04-18 07:58] kukulich commented on #126
Fixed in 2bcf4016c91d307e65e9ce8f855a23262e66c622

[2017-04-18 07:58] #126 closed

[2017-04-21 15:16] VasekPurchart opened #128 "TypeHintDeclaration with disabled enableNullableTypeHints does not work with optional parameters"
The fixer for `enableNullableTypeHints` disabled tries to add `= null` to the parameter even if it is already there.

Minimal reproducible example:

[code]

Is converted to:

[code]

So it produces `string $baz = null = null`, which is obviously incorrect. I think it is needed to look if the null (or probably any other default value) is already present.

[2017-04-21 21:16] Majkl578 commented on #76
I'm looking for same behavior. I don't want to put classes from global space into use section, but rather always use in fully qualified.
I'll look into this, maybe i.e. `allowFullyQualifiedGlobalScope` option would be ideal.

[2017-04-21 23:54] Majkl578 commented on #76
#132

[2017-04-22 17:28] #76 closed

[2017-04-22 19:46] kukulich commented on #128
Fixed in e083ac04fb7a0d22db7fbe3a04c99db52a71a4ae.

[2017-04-22 19:46] #128 closed

[2017-04-22 20:20] VasekPurchart commented on #128
Thanks :)

[2017-04-24 19:19] tremby opened #138 "False positive on UnusedUsesSniff"
I have a `use` statement for `GuzzleHttp\Promise`. In my code I'm using a bare function from that namespace, as `Promise\settle()`. The `UnusedUsesSniff` is complaining that I'm not using `GuzzleHttp\Promise`, which I believe to be false.

I also tried `use GuzzleHttp\Promise\settle` and then using `settle()`, and I get an error from the sniff here too.

[2017-04-24 19:39] kukulich commented on #138
@tremby Could you please post here your ruleset.xml?

[2017-04-24 20:23] tremby commented on #138
I don't understand why, but OK.

[code]

[2017-04-24 20:53] Majkl578 commented on #138
True, looks like it doesn't work with functions in combination with partial uses.
Simple repro code:
[code]
produces:
[code]

[2017-04-24 21:14] Majkl578 commented on #138
@tremby: Could you test with  #139?

[2017-04-24 21:37] tremby commented on #138
@Majkl578: works for me, and verified that the sniff still complains when it should (at least in trivial cases). Looking forward to a merge and tag.

[2017-04-25 13:47] #138 closed

[2017-04-26 10:47] lookyman opened #142 "Final class sniff request"
Would there be interest in a sniff that reports non-final concrete classes? If yes, I could try to prepare a pull request. I have a simple one [here](https://github.com/lookyman/coding-standard/blob/1e5f433cf7754708cb6f795359d94b8b3c8bb2c2/LookymanCodingStandard/Sniffs/Classes/FinalClassSniff.php), but would maybe like to make it a little bit more "clever", possibly by implementing ideas from http

[2017-04-26 11:08] ondrejmirtes commented on #142
That is a pretty opinionated approach. For one, after making a class final, you can't mock it in PHPUnit. And I don't see a point in creating an interface with a single implementation, even just for the naming issues.

But creating such a sniff should be easy (register for `T_CLASS` token and look if there's `T_FINAL`, `T_ABSTRACT` or `T_NEW` in case of anonymous classes in front of it), but I don

[2017-04-26 11:09] #142 closed

[2017-04-28 06:43] alexz707 opened #149 "Compatibility to codesniffer 3.*"
Hi!

do you plan to upgrade the composer dependencies so the version 3 of php codesniffer will be supported?

regards
Alex

[2017-04-28 14:58] kukulich commented on #149
@alexz707 You can try branch [phpcs3](https://github.com/slevomat/coding-standard/tree/phpcs3). PHPCS 3 is not released yet and is not compatible with PHPCS 2. So when PHPCS3 is released, I will have to release new version of our sniffs.

[2017-05-01 20:24] kukulich commented on #149
https://github.com/slevomat/coding-standard/pull/151

[2017-05-04 15:46] VasekPurchart opened #155 "SlevomatCodingStandard.Exceptions.DeadCatch hangs for weird catch definition"
I didn't know this was possible to write, but it actually works - omitting the whitespace between type definition and parameter name:

* https://3v4l.org/upRAH
* https://3v4l.org/5bITD

Minimal reproducible code:

[code]

[2017-05-04 16:48] Majkl578 commented on #155
Same applies for parameters: https://3v4l.org/IFiun

[2017-05-04 20:18] kukulich commented on #155
Fixed in https://github.com/slevomat/coding-standard/commit/2b197d0e36e943d422aeeea07cf43d3d555bf030

[2017-05-04 20:18] #155 closed

[2017-05-04 21:13] kukulich commented on #155
@Majkl578 I've just added some more tests, even for properties https://github.com/slevomat/coding-standard/commit/033caca2399292d5d00a7c25c0326f8f1b5f878a.

[2017-05-15 10:51] alexz707 commented on #149
Seems to be working at least for me! 👍
hope you will release a stable version soon ;)
keep up the good work!

[2017-05-15 10:59] kukulich commented on #149
@alexz707 There's a bug in 3.0.0 so I need to wait for at least 3.0.1.

[2017-05-29 15:19] Fuco1 opened #158 "TypeHints.TypeHintDeclaration and traversableTypeHints"
Hi.

I'm not sure how to configure this.  I only got it working if I set fully qualified types in the codesniffer configuration and then use the same fully qualified type in the `@var` annotation.  Is this expected behaviour?  Shouldn't it infer the types based on the `use` declarations?  Surely that is possible because the `UnusedUses` sniff does the resolutions somehow.

[2017-05-29 15:45] kukulich commented on #158
@Fuco1 Do you use last version? There was a bug that is fixed in last version.

[2017-05-29 22:22] Fuco1 commented on #158
I use 2.4.1, should I use master?

[2017-05-30 06:12] kukulich commented on #158
No, dont use master, the bug was fixed in 2.4.1. Could you please post here your ruleset.xml and the code with traversable type hints?

[2017-05-30 08:40] Fuco1 commented on #158
The php code is

[code]

Configuration

[code]

When I use the `\Doctrine\...` type hint it properly highlights the error, but not with a relative type hint.

[2017-05-30 20:31] kukulich commented on #158
Should be fixed in release 2.4.2.

For `UnusedUses` sniff see settings: https://github.com/slevomat/coding-standard#slevomatcodingstandardnamespacesunuseduses-

[2017-05-30 20:31] #158 closed

[2017-05-31 08:55] Fuco1 commented on #158
I confirm this works, thanks a lot for such a quick fix!

[2017-06-07 11:29] radekhubner opened #159 "Class contains unused private method when I use array_map"
I have a class like as:
[code]

And I got error:
[code]

[2017-06-07 11:44] kukulich commented on #159
@radekhubner I think you should rewrite your code to:

[code]

The detection should work then.

[2017-06-07 11:48] radekhubner commented on #159
Alright. But when I would like to use this method from more places, private is better. Yes, I can create a own class for my method. But I reported it only for Your info. Thanks for your response. 👍

[2017-06-07 11:52] kukulich commented on #159
@radekhubner The method `bar` can still be private. However using closure is better so I will probably not support this old way of writing callbacks.

[2017-06-07 11:59] Majkl578 commented on #159
Agree with @kukulich, calling your private method from inside of a closure is a better approach. 👍

[2017-06-07 12:00] #159 closed

[2017-06-09 14:31] Fuco1 opened #160 "Dubious "Unused use" case"
Hi.

Imagine a class like

[code]

The injected property might be used somewhere else (let's pretend `One` is a magic class somewhow), but the real issue is that `use Other` is tagged as unused.  I have the annotation parsing enabled for this sniff.

I think it assumes that because it is at the "root" and the annotation also starts with `Other` at the root so it is not necessary.  However, this is

[2017-06-14 11:10] TomasVotruba commented on #149
This can be closed, as CodeSniffer 3.0.1 was released and 3.0 for this package was released.

[2017-06-14 11:13] TomasVotruba commented on #142
@lookyman I've read the same post and use [FinalInterfaceSniff](https://github.com/Symplify/CodingStandard#finalinterfacesniff-class) for years.

Also it's [advanced version](https://github.com/Symplify/CodingStandard/blob/master/src/Sniffs/Classes/EqualInterfaceImplementationSniff.php) that checks that class has public methods, that are covered by interface methods. No extra.

Feel free [to creat

[2017-06-14 11:50] kukulich commented on #149
Version 3.0 with PHPCodeSniffer 3.0 support has been released.

[2017-06-14 11:50] #149 closed

[2017-06-19 07:56] vedmant opened #161 "False Multiline array must have trailing comma"
With next piece of code it shows false error "Multiline array must have trailing comma"

        return [
            //
        ];

It's just empty array with empty comment, a lot of this stubs are generated in Laravel framework and it's not violating standard.

[2017-06-19 16:33] kukulich commented on #161
Fixed in https://github.com/slevomat/coding-standard/commit/c9a08f49aa06b01638a024d91385acc6261d6aa3

[2017-06-19 16:33] #161 closed

[2017-06-19 16:55] kukulich commented on #160
Fixed in https://github.com/slevomat/coding-standard/commit/f750828795da8dd9bb24b74bfce2700a94b8f660

[2017-06-19 16:55] #160 closed

[2017-06-27 09:08] BigCharlie opened #163 "phpcs result depending on SlevomatCodingStandard.Files.TypeNameMatchesFileName configuration"
Hi,

I've just met strange behavior of subject's rule. When trying to configure my namespaces, I found that:

[code]

works as expected. But this:

[code]
results in an error. There's an example of configuration in documentation (README.md, line 180, I don't know how to link better, sorry), but it's not mentioning the importance of values order.

Expected behavior
-----------------

Sniff should w

[2017-06-27 09:18] ondrejmirtes commented on #163
I'd just update the README to reflect this. For example autoloading configuration works the same way, the first path that matches wins...

[2017-06-27 09:43] BigCharlie opened #164 "differencies in configuration properties"
When playing with SlevomatCodingStandard.Files.TypeNameMatchesFileName sniff, I found that there is a difference in the way different properties are treated. Given configuration

[code]

results in two rootNamespaces, one skipDirs, but three extensions (last one empty).

rootNamespaces, skipDirs are trimmed too, but there's no way how to use multi-line configuration (as for rootNamespaces) with ex

[2017-06-27 09:57] BigCharlie commented on #163
The only argument against is simplifying the configuration. I'm not able to find any better argument.

[2017-06-27 10:32] kukulich commented on #164
Thank you for your report.

Should be fixed in https://github.com/slevomat/coding-standard/commit/ee66903be747490f14d0b88f75ac46667aef082c

[2017-06-27 10:32] #164 closed

[2017-06-27 17:12] asprega opened #165 "TypeHintDeclarationSniff : Useless annotation reported even if it's needed to document a specific parameter"
I am using version 2.4.3 of the coding standard, with phpcs 2.9.1.

My ruleset:
[code]

The class I'm using to test:
[code]

I'm getting this output:

[code]

But I would expect the violation not to be there since, as it's done correctly for `@return` annotations, they are not reported as useless if there is an actual comment after them.

Is this a bug or am I misusing the sniff?

[2017-06-29 20:18] kukulich commented on #163
Thanks for your report.

It should be fixed in https://github.com/slevomat/coding-standard/commit/d9e6e33cddd3dea80242bde788c1f22ca5cfa1a0

[2017-06-29 20:18] #163 closed

[2017-06-29 21:50] kukulich commented on #165
Thank you for your report.

Fixed in https://github.com/slevomat/coding-standard/commit/01e5172064e222bab9ef70b5a42d7766c95df911.

[2017-06-29 21:50] #165 closed

[2017-07-02 10:08] asprega opened #166 "TypeHintDeclarationSniff: support for @inheritdoc"
Since this sniff does not support `@inheritdoc` for looking up `@param` and `@return` annotations in superclasses, when I extend framework classes I am forced to copy/paste annotations from there to my classes, or the sniff will report errors. Good examples might be Symfony forms or Doctrine types. Is there any intention to support this annotation, or does it pose significant issues/overhead?

[2017-07-02 10:38] asprega opened #167 "TypeHintDeclarationSniff: optional nullable parameter reported as useless even if @param has description"
I am using version 2.4.4 of the coding standard, with phpcs 2.9.1.

Ruleset:
<?xml version="1.0"?>
    <rule ref="vendor/slevomat/coding-standard/SlevomatCodingStandard/Sniffs/TypeHints/TypeHintDeclarationSniff.php" />
      <rule ref="SlevomatCodingStandard.TypeHints.TypeHintDeclaration">
        <properties>
            <property name="enableEachParameterAndReturnInspection" value="true" />

[2017-07-02 10:59] kukulich commented on #166
@asprega PHPCS doesn't know anything about parent classes. Each class is checked separately. I can only ignore methods with @inheritdoc. Would you be ok with this solution?

[2017-07-02 11:08] asprega commented on #166
Thanks for the quick reply!
Yes, that would work great for me.

[2017-07-03 19:47] kukulich commented on #166
Fixed in https://github.com/slevomat/coding-standard/commit/727678c634864ff609157c6e6586e5c746fd3520.

[2017-07-03 19:47] #166 closed

[2017-07-03 20:09] kukulich commented on #167
Thank you for your report.

Fixed in https://github.com/slevomat/coding-standard/commit/86281005e0f0d38365ec3362db0fb8113821ea51.

[2017-07-03 20:09] #167 closed

[2017-07-19 09:44] Fuco1 commented on #166
I was just about to submit this same issue.  I think simply ignoring the method is an OK solution as the parent file would eventually be checked separately and the types will be specified there.

Thanks for fixing this!

[2017-07-20 11:03] Fuco1 commented on #159
Can some of you explain why it is better to wrap it in a closure?  The array syntax for callback seems pretty concise and clear.

[2017-07-20 11:07] ondrejmirtes commented on #159
Because then the method call looks like a normal method call, so it can be found by an IDE or even with a fulltext search `->bar()`... And the parameters are passed explicitly, so something like this cannot ever happen: https://stackoverflow.com/questions/262427/why-does-parseint-yield-nan-with-arraymap (similar example from JavaScript).

[2017-07-20 11:50] dg opened #169 "YodaComparisonSniff: unwanted code change"
it turns this code

[code]

into this

[code]

[2017-07-24 13:50] kukulich commented on #169
Thank you for your report.

Fixed in last releases.

[2017-07-24 13:50] #169 closed

[2017-07-24 13:53] dg commented on #169
Great 👍

[2017-07-28 10:14] aipng opened #172 "False positive for UnusedMethod"
Having this code

[code]

I believe I get false positive from SlevomatCodingStandard.Classes.UnusedPrivateElements.UnusedMethod when running CodeSniffer.

slevomat/coding-standard: 3.0.4

[2017-07-29 01:06] oojacoboo opened #173 "Unexpected token P in JSON at position 0"
when enabling this ruleset, I get the following error:

`Unexpected token P in JSON at position 0`

I had this issue previously and it was related to and <arg /> tag being specified.

[2017-08-01 07:52] kukulich commented on #173
We don't use JSON in our sniffs. However PHPCS use JSON for caching. Do you use option `--cache`? If so, can you try run PHPCS without this option?

[2017-08-01 15:26] oojacoboo commented on #173
I was able to resolve the issue.  I actually don't fully recall what it was now.  It may have been that there was an <arg /> tag set for cache and I removed it.

[2017-08-01 15:26] #173 closed

[2017-08-02 08:43] dhaarbrink opened #175 "SlevomatCodingStandard.TypeHints.TypeHintDeclaration.MissingTraversableParameterTypeHintSpecification fails when it references an interface implementation"
Given the following interface:

[code]
This interface is defined by symfony and hence can't be changed.

When I implement this interface I can't specify typehints in the declarations.

I think this sniff should check if the method is part of an interface and if it is, ignore it. When the sniff encounters the interface itself it should complain there.

[2017-08-02 08:46] ondrejmirtes commented on #175
Unfortunately, this is not possible in PHP_CodeSniffer because CodeSniffer works in a single file scope and does not have access to reflection. See https://medium.com/@ondrejmirtes/three-pillars-of-static-analysis-in-php-f3f5d7bfd61b for more details.

Slevomat CS solves this by offering suppressing rules locally, [see README](https://github.com/slevomat/coding-standard#suppressing-sniffs-locally)

[2017-08-02 08:53] dhaarbrink commented on #175
That's too bad.
Thanks for pointing me in the right direction!

[2017-08-02 08:53] #175 closed

[2017-08-02 09:13] aipng commented on #172
Thanks, works perfectly.

[2017-08-14 19:57] gsdevme opened #179 "declare(declare(strict_types = 1); on new line?"
Hi,

I notice the sniff for `declare(strict_types = 1);` enforces it be on the same line as `<?php` .. however the draft PSR standard has it on the new line.

Is it worth aligning the rule to the draft? or is there some way to use the PSR notation?

https://github.com/php-fig/fig-standards/blob/master/proposed/extended-coding-style-guide.md#example

[2017-08-14 19:59] kukulich commented on #179
You can use options of the sniff, see https://github.com/slevomat/coding-standard#slevomatcodingstandardtypehintsdeclarestricttypes-

[2017-08-14 19:59] #179 closed

[2017-08-14 20:11] gsdevme commented on #179
Oh thanks, likely worth changing the default though imo.

[2017-08-23 19:40] vanam opened #180 "YodaComparisonSniff breaks code or ignores if logical operator is present"
Hi, I am using your code sniffers through [Nette Coding Standard](https://github.com/nette/coding-standard) and `YodaComparisonSniff`:
a) breaks code if logical operators are present:
[code]
changes to:
[code]
b) Ignores Yoda expression
[code]
changes to (does not change):
[code]

Tests describing this issue can be found at [my fork](https://github.com/vanam/coding-standard/commit/c9df4f290dfd31b4

[2017-08-23 19:46] ondrejmirtes commented on #180
It's definitely possible there's a bug, but I think you don't want to use `and` and `or` operators in your code, surprisingly, they behave differently than `&&` and `||`. See: http://php.net/manual/en/language.operators.logical.php

But of course we're gonna fix this, should be easy :)

[2017-08-23 19:55] vanam commented on #180
Two words: Legacy Codebase :)

btw is there a fixer to change `or` to `||` and `and` to `&&`?

[2017-08-23 20:02] ondrejmirtes commented on #180
I suspect not, exactly because it's no just safe to replace one with another, you'd have to add parentheses and the result wouldn't be so nice :)

[2017-08-23 20:36] kukulich commented on #180
Thank you for your report. Fixed in https://github.com/slevomat/coding-standard/commit/cb6986fa61665de0a4c89708db8caa9733f7ed27

[2017-08-23 20:36] #180 closed

[2017-08-26 00:29] racinmat opened #182 "Incorrect behaviour when returning array."
In my class, PlayerRepository, coding standard complaints about both missing type for array and having redundant phpdoc.
Here is code which has the issue:
[code]
And output of the coding standard:

 ------ --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

[2017-08-26 00:40] racinmat opened #183 "Incorrect behaviour for @var annotation of property"
I have entity with properties and  coding standard complains about not having @var annotation there, although my class looks like this:
[code]
and coding standard output is:

 ------ -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

[2017-08-26 08:07] kukulich commented on #183
@racinmat Could you please post you ruleset.xml? What version of PHPCS do you use? What version of our standard do you use? I'm currently not able to reproduce it.

[2017-08-29 13:35] venyii opened #184 "Private methods in function callbacks marked as unused"
Hey, thanks for the great sniffers!

When using `SlevomatCodingStandard.Classes.UnusedPrivateElements` together with callbacks, the sniffer complains about unused private methods which in fact are used as callback values:

**test1.php**
[code]

**ruleset.xml**
[code]

**composer.json**
[code]
Using versions:
[code]

**Command**
`./vendor/bin/phpcs --standard=ruleset.xml --sniffs=SlevomatCodingStan

[2017-08-29 13:38] kukulich commented on #184
See https://github.com/slevomat/coding-standard/issues/159 for explanation.

[2017-08-29 13:38] #184 closed

[2017-08-29 13:38] venyii opened #185 "Chained private method calls marked as unused"
When using `SlevomatCodingStandard.Classes.UnusedPrivateElements` together with chained method calls, the sniffer complains about unused private methods:

**test2.php**
[code]

**ruleset.xml**
[code]

**composer.json**
[code]
Using versions:
[code]

**Command**
`./vendor/bin/phpcs --standard=ruleset.xml --sniffs=SlevomatCodingStandard.Classes.UnusedPrivateElements test2.php`

This produces current

[2017-08-29 13:41] venyii commented on #184
Whoops didn't see that one, sorry for the noise!

[2017-08-29 21:57] Majkl578 commented on #185
Does it work if you add `self` return type to the private methods?
_(Although legitimate bug report, I'd suggest to avoid this approach and use separate method calls on $this instead -- it will be more readable.)

[2017-08-31 08:18] progsmile opened #186 "Expected N spaces after parameter type; M found - disable this hint"
Hi there, thanks you for such useful package! Have issue with this spacing after parameter type in comments, - I just need to disable this check. Here are more info with screenshots.

I've added KKKK, to find particular rule, and this is caused by `PHP_CodeSniffer\Standards\Squiz\Sniffs\Commenting\FunctionCommentSniff`
![alt](https://image.prntscr.com/image/ErzzMTdmQ7aiL-F5rDbuvA.png)
![alt](https

[2017-08-31 08:46] kukulich commented on #186
It should be ok if you exclude `Squiz.Commenting.FunctionComment.SpacingAfterParamType`.

[2017-08-31 08:53] progsmile commented on #186
Thanks @kukulich, it works!)

[2017-08-31 08:53] #186 closed

[2017-08-31 16:45] snapshotpl opened #187 "Remove important annotations"
I like `SlevomatCodingStandard.TypeHints.TypeHintDeclaration.UselessDocComment` rule, however it removes two important annotation for me: @codeCoverageIgnore and @throws
Is there any setting to keep it?

[2017-08-31 16:48] Majkl578 commented on #187
You can specify useful annotations in configuration, see README: https://github.com/slevomat/coding-standard#slevomatcodingstandardtypehintstypehintdeclaration-

[2017-08-31 20:55] snapshotpl commented on #187
@Majkl578 :+1:

[2017-08-31 20:55] #187 closed

[2017-09-04 09:27] andrew-demb opened #188 "[NFR] TypeHints.TypeHintDeclarationSniff inheritdoc insensitive case checks"
Hello.

In our project, we're using doc inheritance via `@inheritDoc` annotation, but `TypeHintDeclarationSniff::hasInheritdocAnnotation()` check only for lowercase variant of annotation.

How about change used the PHP function to locating str `strpos -> stripos`?
https://github.com/slevomat/coding-standard/blob/3.3.0/SlevomatCodingStandard/Sniffs/TypeHints/TypeHintDeclarationSniff.php#L995

[2017-09-04 09:37] kukulich commented on #188
@andrew-demb Could you please provide a pull request with the change and with test?

[2017-09-04 10:39] kukulich commented on #188
@andrew-demb Thank you. It will be in the next release.

[2017-09-04 10:55] #188 closed

[2017-09-11 12:01] titanrat opened #190 "FullyQualifiedGlobalConstantsSniff autofix error."
FullyQualifiedGlobalConstantsSniff doesn't work correct with some lines.
Example line:
`const TYPE_ONE = 1, TYPE_TWO = 2, TYPE_THREE = 3;`

After this sniff and it's autofix line looks like
`const TYPE_ONE = 1, \TYPE_TWO = 2, \TYPE_THREE = 3;`

This fix brokes code.

[2017-09-12 14:08] kukulich commented on #183
Closing because of no response.

[2017-09-12 14:08] #183 closed

[2017-09-12 14:08] kukulich commented on #182
Closing because of no response.

[2017-09-12 14:08] #182 closed

[2017-09-12 14:44] kukulich commented on #190
Thank you for your report.

Fixed in https://github.com/slevomat/coding-standard/commit/1204c8020af9cd8e10230e052810b2722349fc75

[2017-09-12 14:44] #190 closed

[2017-09-12 21:25] kukulich commented on #185
Thank you for you report.

Fixed in https://github.com/slevomat/coding-standard/commit/30084f858212a6e7f77d60a3605d4621758665f2

[2017-09-12 21:25] #185 closed

[2017-09-13 08:38] Fuco1 opened #192 "Setup a 2.x branch"
Hey.  I would like to backport some new patches for the 2.4 release (we still depend on codesniffer 2) but as there is no branch I don't have anywhere to target the pull request.  Would you be willing to maintain a branch for the 2.x series?

[2017-09-13 08:40] Fuco1 commented on #192
Actually, seems like the thing I want already is included.  :blush: But a branch might still be useful.

[2017-09-13 09:40] kukulich commented on #192
@Fuco1 I will prepare last bugfix release of version 2.x later this week. However it will really be last release and I don't want to maintain version 2.x anymore.

[2017-09-13 09:42] Fuco1 commented on #192
Okey, thanks and thanks also for letting us know.  I will try to migrate to CS 3 as well but it's a bit unclear as of when.

[2017-09-13 09:42] #192 closed

[2017-09-13 11:37] kukulich commented on #192
@Fuco1 Could you please test branch `version2` before I release it?

[2017-09-13 13:28] Fuco1 commented on #192
Our entire codebase still passes so at least it works the same as before :) I have tested the new feature I was interested in and that also works.  I'll keep running the git version for a while and report back if I get some problems.

[2017-09-14 08:33] temp opened #194 "Feature Request for Sniffs"
Any chance to get a sniff that enforces importing everything in code?

We have the rule that everything you use in your code (not necessarily in DocBlocks) has to be imported. I tried developing a sniff for this, but it's hard when you never dealt with this before ;-)

Another useful sniff would be a check for usage of unscoped standard and SPL exceptions.
We follow this guideline (http://usrporta

[2017-09-14 08:48] ondrejmirtes commented on #194
Hi, requirement to import everything is already in the repository. Checkout `SlevomatCodingStandard.Namespaces.ReferenceUsedNamesOnly` in the README.

You might have to exclude other sniffs that contradict this like `SlevomatCodingStandard.Namespaces.UseOnlyWhitelistedNamespaces` and sniffs that have `FullyQualified` in their name, but otherwise, this works well.

[2017-09-14 08:49] ondrejmirtes commented on #194
Also, some other sniffs might be interesting to you, be sure to read the whole README.

[2017-09-14 09:00] temp commented on #194
Oh - misinterpreted this one. Nice! The only place where we use full qualified names are @covers in phpunit tests. So I would configure fullyQualifiedKeywords with "@covers"?

[2017-09-14 09:05] ondrejmirtes commented on #194
The sniff with `fullyQualifiedKeywords` works with language keywords like `extends` or `new`, not with annotations.

[2017-09-14 09:06] ondrejmirtes commented on #194
I recommend you to copy our `SlevomatCodingStandard.Namespaces.FullyQualifiedClassNameInAnnotation` sniff and modify it for your purposes.

[2017-09-14 09:09] kukulich commented on #194
`ReferenceUsedNamesOnly` ignore all annotations so `@covers` with FQN should be ok.

[2017-09-14 09:09] temp commented on #194
Ok, thanks. Looks like this in not necessary, a "@covers \My\Class" produces no warning.

[2017-09-14 09:12] temp commented on #194
Thanks!
Any chance for the global Exception sniff?

[2017-09-14 09:13] ondrejmirtes commented on #194
@temp What exactly are the requirements?

Also, be sure to check out PHPStan, another one of our projects, for more code quality (and bug-preventing) checks:

* Introduction article: https://medium.com/@ondrejmirtes/phpstan-2939cd0ad0e3
* GitHub: https://github.com/phpstan/phpstan

[2017-09-14 09:21] temp commented on #194
I know phpstan, and we already use it. Love it!
The requirements for the exception thing is fairly easy: never throw a global exception.
We always scope our exceptions (\Whatever\RuntimeException extends \RuntimeException), like described in the article I provided.
In a nutshell:
Using the global exceptions makes it nearly impossible to catch specific errors, that's why we enforce it.
We go even f

[2017-09-14 23:17] racinmat commented on #182
I tried to reproduce this my bug, but with no luck, so there was probably some magic. It works now.

[2017-09-14 23:17] racinmat commented on #183
I tried to reproduce this my bug, but with no luck, so there was probably some magic. It works now.

[2017-09-15 12:09] cleptric opened #195 "Turn off traversableTypeHints"
Is there a way to tun of traversableTypeHints Checks completly?
I tried

[code]

[2017-09-15 12:17] kukulich commented on #195
[code]

[2017-09-15 12:17] #195 closed

[2017-09-15 19:05] acelaya opened #198 "[Feature request] Enforce spaces on string concatenations"
It would be great to have a sniff that allows to force a specific number of spaces between elements when concatenating strings.

For example. Enforcing 0 spaces;

[code]

Enforcing 1 space;

[code]

Is there any possibility to have this sniff? :-)

Great work, by the way.

[2017-09-15 19:10] kukulich commented on #198
The sniff is part as PHPCS itself, see https://github.com/squizlabs/PHP_CodeSniffer/blob/master/src/Standards/Squiz/Sniffs/Strings/ConcatenationSpacingSniff.php

[2017-09-15 19:11] acelaya commented on #198
Nice!!
Thanks :-)

[2017-09-15 19:12] #198 closed

[2017-09-17 21:59] racinmat opened #199 "Multiline annotation"
When having multiline annotation

[code]
TypeHintDeclarationSniff says:

  `Method \AppBundle\Controller\TranslateController::updateMessageAction() does not need documentation comment.
         (SlevomatCodingStandard\Sniffs\TypeHints\TypeHintDeclarationSniff)`

But when annotation is single line,
[code]
TypeHintDeclarationSniff does not complain.
I have $usefulAnnotations set to `["@todo", "@data

[2017-09-22 15:51] kukulich commented on #199
Thank you for your report.

Fixed in https://github.com/slevomat/coding-standard/commit/b0ef7275776e8588dd88152838ae944fce4d2c97

[2017-09-22 15:51] #199 closed

[2017-09-27 10:56] mhujer opened #200 "TypeHints.DeclareStrictTypes should disallow spaces after/before parenthesis"
Following are not detected by DeclareStrictTypes sniff (there are spaces after opening parenthesis and before closing parenthesis).

[code]

[2017-09-27 11:00] ondrejmirtes commented on #200
I think there’s a different sniff that enforces parenthesis and assign
operator spacing across all code, not just for declare.

On Wed, 27 Sep 2017 at 12:56, Martin Hujer <notifications@github.com> wrote:

[2017-09-27 11:01] ondrejmirtes commented on #200
The README wording says that you should use strict_types, it’s not about
the exact look of the statement. Feel free to send a PR 😊

On Wed, 27 Sep 2017 at 13:00, Ondřej Mirtes <ondrej.mirtes@slevomat.cz>
wrote:

[2017-09-29 13:19] videni opened #201 "anyway to let class use its interface function declaration?"
[code]

I have lots of code like this,  anyway to fix this automaticially please?

[2017-09-29 13:20] ondrejmirtes commented on #201
I don't think so, PHP_CodeSniffer does not have access to the class reflection.

[2017-09-29 13:36] videni commented on #201
@ondrejmirtes ,I am new to phpcs,  thanks for telling me.

[2017-09-29 13:38] ondrejmirtes commented on #201
@videni Check out this article if you want to know what different tools are capable of in PHP: https://medium.com/@ondrejmirtes/three-pillars-of-static-analysis-in-php-f3f5d7bfd61b

[2017-09-29 19:54] mhujer commented on #200
I found that there is a `PSR2.ControlStructures.ControlStructureSpacing` but it does not handle `declare` statements yet. I will submit a PR directly to PHPCS.

Thanks for pointing me in the right direction @ondrejmirtes 👍

[2017-09-29 19:55] #200 closed

[2017-10-01 16:39] Majkl578 commented on #201
The code you referenced will generate fatal error because subclass is not allowed to omit previously speicfied return type. https://3v4l.org/ia8c1

[2017-10-02 12:24] #201 closed

[2017-10-04 10:36] enumag opened #202 "Buggy TypeHintDeclarationSniff"
TL;DR: TypeHintDeclarationSniff adds typehints to methods that overrides or implements a parent method, causing an error.

----

My team wants to use tabs for indentation so among other things I had to hack Doctrine Migrations a little:

[code]

TypeHintDeclarationSniff adds string typehints to the parameters:

[code]

Which of course causes a PHP error:

[code]

[2017-10-04 10:46] ondrejmirtes commented on #202
Yep, you should add a `@phpcsSuppress` annotation to the method. This cannot be solved by PHP_CodeSniffer because it does not have access to class reflection.

[2017-10-04 10:47] enumag commented on #202
Alright. I'll send a PR for the documentation. Thanks.

[2017-10-04 10:52] enumag commented on #202
Nope, that annotation does not fix the problem. TypeHintDeclarationSniff still adds the type hints.

[2017-10-04 10:53] ondrejmirtes commented on #202
Have you added `@phpcsSuppress SlevomatCodingStandard.TypeHints.TypeHintDeclaration.MissingParameterTypeHint` according to instructions in the README? https://github.com/slevomat/coding-standard#suppressing-sniffs-locally

[2017-10-04 10:54] enumag commented on #202
Yeah, found that out myself in the meantime. This works.

[2017-10-04 10:54] #202 closed

[2017-10-10 07:23] videni commented on #201
@ondrejmirtes , thanks , that article is very helpful

[2017-10-11 11:40] enumag opened #204 "TypeHintDeclarationSniff removing Doctrine annotations"
Several times now I got this:

[code]

And the entire docblock with the annotations was removed.

I know I can set some annotations to not be removed like this with usefulAnnotations but my application uses a lot of Doctrine annotations (Doctrine entities, Symfony validators, Arachne/Verifier rules and so on) so the list would be really really long and I could easily forget something. Is there a b

[2017-10-11 11:48] kukulich commented on #204
See https://github.com/slevomat/coding-standard/pull/107#issuecomment-281466747

[2017-10-11 11:52] enumag commented on #204
@kukulich Prefix is useless for me. My annotations mostly do not use any prefix. For example these annotations are removed now:

[code]

[2017-10-12 06:26] kukulich commented on #204
I will close this ticket because there's no bug in the sniff.

You can:
1. Disable the whole sniff
2. Disable only `UselessDocComment`
3. Change the way you write annotations and use prefixes - eg. use `@ORM\GeneratedValue()` for Doctrine annotations.
4. Add all annotations to `usefulAnnotations`

[2017-10-12 06:26] #204 closed

[2017-10-12 13:29] enumag commented on #204
I didn't know this was possible. I'm not quite sure how to do it with [EasyCodingStandard](https://github.com/Symplify/EasyCodingStandard). Any idea?

cc @TomasVotruba

[2017-10-12 13:38] kukulich commented on #204
It's easy with standard PHPCS configuration: https://github.com/Roave/BetterReflection/blob/master/phpcs.xml#L96

[2017-10-12 14:48] TomasVotruba commented on #204
@enumag That is not possible. Only class identifiers are supported.

[2017-10-12 14:50] TomasVotruba commented on #204
Btw, this was no-go for many people I showed Slevomat coding standard to.
Common Symfony and Doctrine annotations should be ignore by default.

[2017-10-12 17:13] enumag commented on #204
@kukulich @TomasVotruba I don't mind disabling UselessDocComment altogether. We need to solve this somehow though. As it is I would be forced to disable the sniff completely.

[2017-10-12 17:19] ondrejmirtes commented on #204
This is unfortunate because Slevomat CS supports very granular settings based on sniff error codes, almost all sniffs have several of them.

[2017-10-12 17:25] TomasVotruba commented on #204
I think this sniff is doing too much.

I should be in standalone sniff, like:
https://github.com/FriendsOfPHP/PHP-CS-Fixer/blob/2.7/src/Fixer/Phpdoc/GeneralPhpdocAnnotationRemoveFixer.php

[2017-10-12 17:39] enumag commented on #204
@TomasVotruba I agree the sniffs should be more separate than they are now but having ECS to be completely unable to configure sniffs like this is really not good. Let's talk tomorrow about how to add the support.

[2017-10-12 21:00] TomasVotruba commented on #204
Kk

[2017-10-17 14:09] Majkl578 opened #206 "UnusedMethod: False positive when case sensitivity doesn't match signature"
[code]
In this case, testFoo is deemed unused, although it is, but with incorrect case (that should be a task for separate sniff or PHPStan).
This happens with v3.3.0, haven't found any ticket that'd fix it in newer versions.

[2017-10-26 12:59] grongor opened #207 "Bug in SlevomatCodingStandard\Sniffs\Namespaces\UnusedUsesSniff"
Hello,
if you run phpcs on this file:
[code]
then you will get this result:
[code]

Which obviously isn't correct :)

[2017-10-26 13:18] grongor commented on #207
Nevermind, I just discovered that it's fixed in master, lol...

[2017-10-26 13:18] #207 closed

[2017-10-26 20:44] virgofx opened #208 "[Request] DeclareStrictTypes Add Ability to Specify NewLines After"
I noticed a few cases where the `namespace` declaration was immediately adjacent to the `declare` statement in our code bases and couldn't find any existing sniffs to handle this. Would it be possible to add it as a new parameter option for `DeclareStrictTypes` ?

For example: If the parameter was labeled `newLinesAfterDeclareStatement` and set to 1, I would like to enforce:

[code]
to
[code]

[2017-10-26 20:50] kukulich commented on #208
See https://github.com/squizlabs/PHP_CodeSniffer/blob/master/src/Standards/PSR2/Sniffs/Namespaces/NamespaceDeclarationSniff.php

[2017-10-26 20:52] virgofx commented on #208
That allows you to ensure a blank line **after** the namespace, but not before?

[2017-10-29 17:00] ostrolucky opened #209 "Removing dependency on codesniffer"
I believe there is no need at this time to explicitly specify requirement for codesniffer. Use of this repository is just to get some additional checkers.

I would like to require this repository in my project without need to install codesniffer and all its dependencies with it, because codesniffer I use is installed in separate location, in docker image, therefore codesniffer provided via this re

[2017-10-29 17:13] ondrejmirtes commented on #209
I believe that the dependency on CodeSniffer here is justified. It's not guaranteed that the sniffs will work with whatever version of CodeSniffer you have installed in the separate location, they are tested only with the version specified in composer.json: `"^3.0.1"`. The sniffs are meant to be installed alongside CodeSniffer.

[2017-10-29 17:23] ostrolucky commented on #209
Right, that's why I have written it's not needed *at this time*. Is there a reason to believe sniffs will be incompatible in near future? That would be pretty big BC break on CodeSniffer side. I think it's safe to remove it now and put it back when such situation actually happens.

Correct, that's why I don't see strong need for this package to install it. It's assumed user already has CodeSniffer

[2017-10-29 18:44] kukulich commented on #209
1. Our sniffs depend on PHPCS directly because the sniffs implement interface `\PHP_CodeSniffer\Sniffs\Sniff`.
2. The pretty big BC break in PHPCS happened just in its version 3 so we have to require version 3. Actual version of our sniffs is not compatible with PHPCS 2.
3. In PHPCS 3.0.0 was a bug that broke our sniffs so we have to require exactly version `^3.0.1`.
4. "It's assumed user already

[2017-10-29 18:44] #209 closed

[2017-11-01 08:56] KacerCZ opened #210 "FullyQualifiedGlobalFunctions - support for excludes"
Is is possible to extend sniff `SlevomatCodingStandard.Namespaces.FullyQualifiedGlobalFunctions` to support list of function names which are not reported?

I'm using gettext extension for translations and using fully qualified name for function `_` creates ugly symbol soup. For example `$message = \sprintf( \_( 'Message code %d.' ), $code );`.

PHP-CS-Fixer supports this setting for 'native_functi

[2017-11-07 13:51] enumag commented on #204
@kukulich @TomasVotruba I have disabled `UselessDocComment` using the new configuration in ECS. The result is that that when I run `vendor/bin/ecs check src` the errors are not there - good. But then when I run `vendor/bin/ecs check src --fix` while the errors don't appear in the result, *the annotations are still removed*. It seems it only supresses the errors in the output but it does not preven

[2017-11-07 13:56] enumag commented on #204
It looks like [these lines](https://github.com/slevomat/coding-standard/blob/master/SlevomatCodingStandard/Sniffs/TypeHints/TypeHintDeclarationSniff.php#L528-L530) are only checking if the sniff is suppressed by annotation but ignore that it can be suppressed by configuration.

Any idea how to fix that?

[2017-11-07 13:59] kukulich commented on #204
@enumag It's probably bug in ECS.

[2017-11-07 14:04] enumag commented on #204
@kukulich I'll try to run code sniffer normally to confirm or disprove your claim.

[2017-11-07 14:15] enumag commented on #204
... any idea how to configure phpcs to use this sniff and preferably no other sniffs? It's more complicated than I expected. I never used phpcs on its own so I'm not sure how to configure it to do this.

[2017-11-07 14:27] enumag commented on #204
Ok I can run it now with this configuration:

[code]

[code]

I'm just not sure hot to correctly disable `UselessDocComment` here.

[2017-11-07 14:34] VasekPurchart commented on #204
See for example https://github.com/slevomat/coding-standard/blob/master/build/phpcs.xml#L18.

[2017-11-07 14:47] enumag commented on #204
Is seems that this configuration fixes the problem. So there is probably indeed something wrong in ECS.

[code]

[2017-11-09 12:41] janedbal opened #211 "UnusedPrivateElements.UnusedMethod false positive when calling private method on the same class"
Following code leads to `SlevomatCodingStandard.Classes.UnusedPrivateElements.UnusedMethod` error.

[code]

[2017-11-14 10:21] wietsewarendorff opened #212 "Namespaces.UnusedUses.UnusedUse - only referenced in docblock"
Hi,

I'm currently on v4.0.0, and I think the test below should pass since I am referencing the class in a docblock (which [is allowed](http://docs.phpdoc.org/guides/types.html), right?). What to you think?

Thanks in advance!

**test.php**
[code]

**ruleset.xml**
[code]

result
[code]

[2017-11-14 10:23] ondrejmirtes commented on #212
Hi, you must turn `searchAnnotations` setting on: https://github.com/slevomat/coding-standard#slevomatcodingstandardnamespacesunuseduses-

[2017-11-14 10:47] wietsewarendorff commented on #212
Cool, that helps! Thanks very much for your quick reply, I should have read the docs better...

[code]

But this also seems to runs the `MismatchingCaseSensitivity` test since I am not using the more specific rule `SlevomatCodingStandard.Namespaces.UnusedUses.UnusedUse`. Would it be possible to run it without that sniff (e.g. by disabling it)?

[2017-11-15 13:08] wietsewarendorff opened #214 "Files.TypeNameMatchesFileName - path"
Hi,

I have the codebase setup in a docker environment, all under the folder `/app/`. I have my psr-4 namespace setup as `"MyApp\\": "app/"` in my composer.json file, autoloading working as it should. But when I run the `SlevomatCodingStandard.Files.TypeNameMatchesFileName` tests,  all my files are reported, e.g.:
`Class name MyApp\Models\User does not match filepath  /app/app/Models/User.php.`

[

[2017-11-15 13:23] kukulich commented on #214
@wietsewarendorff What's the absolute path of the file where `MyApp\Models\User` is located?

[2017-11-15 13:27] kukulich commented on #212
@wietsewarendorff See https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml how to exclude specific rules.

[2017-11-15 13:27] #212 closed

[2017-11-15 13:51] wietsewarendorff commented on #214
@kukulich For a complete overview:
- root path of my project: `/app`
- location of vendor folder: `/app/vendor`
- UserModel: `/app/app/Models/User.php`

[2017-11-15 14:07] kukulich commented on #214
@wietsewarendorff Try to add second property:

[code]

[2017-11-16 10:11] jeroennoten opened #215 "@return array not detected as UselessDocComment"
I would expect that this phpDoc is detected as useless by the `TypeHintDeclaration. UselessDocComment` rule, however it is not reported.
[code]
Note that I have disabled the `MissingTraversableReturnTypeHintSpecification`.

[2017-11-21 10:15] enumag opened #217 "TypeHintDeclarationSniff adds object return type"
I have a method like this:

[code]

TypeHintDeclarationSniff changes that to

[code]

It is kind of good that it does but not entirely. Even if I have PHP 7.2 locally it does not mean I want my application to require it right away. I'd like to wait until it's a bit more stable so for now I have this in my composer.json:

[code]

I don't want to disable `TypeHintDeclarationSniff` nor the code `Type

[2017-11-21 10:27] kukulich commented on #217
Yes, I was lazy, so `object` type hint is implemented based on running PHP version. Feel free to prepare a PR :)

[2017-11-21 10:28] ondrejmirtes commented on #217
It can be done the same way enableVoid property is.

On Tue, 21 Nov 2017 at 11:28, Jaroslav Hanslík <notifications@github.com>
wrote:

[2017-11-21 10:41] kukulich commented on #217
Yes but it must be implemented in more sniffs.

[2017-11-21 13:11] wietsewarendorff commented on #214
@kukulich this works for the example above, but I think this can cause issues when using other paths: if `/app/` is used somewhere, this solution will not work. Is it not possible to use the relative path?

[2017-12-06 12:47] TomasVotruba opened #218 "What is difference AssignmentInConditionSniff to native one?"
How does local `AssignmentInConditionSniff` differs [to native AssignmentInConditionSniff](https://github.com/squizlabs/PHP_CodeSniffer/blob/master/src/Standards/Generic/Sniffs/CodeAnalysis/AssignmentInConditionSniff.php)? Apart one adding error and other adding warning.

I get same output on simple assignment:

![image](https://user-images.githubusercontent.com/924196/33662345-c3a04b1a-da8b-11e7-

[2017-12-06 13:54] enumag opened #219 "UnusedPrivateElementsSniff.UnusedMethod - false positive with Closure::fromCallable()"
Closure::fromCallable is very useful when you want to pass a private method as callback. The sniff should recognize such method as used.

[code]

[2017-12-06 14:47] kukulich commented on #219
If you prepare PR, I'm willing to merge it. However I don't want to invest my time for supporting the old way `[$this, 'map']`.

You should really rewrite the code in the example to:
[code]

[2017-12-06 14:54] kukulich commented on #218
Native sniff exists since PHPCS 3.1.0. We support currently PHPCS >= 3.0.1.

There are some differences in the implementation as well however I did not have time to find out if it's possible to remove our sniff in future releases.

[2017-12-06 14:54] #218 closed

[2017-12-06 15:08] TomasVotruba commented on #218
Thanks, I didn't know it was so fresh.

[2017-12-07 18:39] Majkl578 opened #220 "phpcbf failed to fix superfluous TypeHintDeclaration.UselessParameterAnnotation for variadic parameter"
The code looked like this:
[code]
After running phpcbf, method signature was changed but docblock was not removed, phpcbf ended with error `FAILED TO FIX`.

[2017-12-12 14:14] enumag commented on #219
That's the syntax I used before. It's too much writing and forces you to repeat all the parameters. No thanks.

[2017-12-12 14:28] enumag opened #221 "TypeHintDeclarationSniff causes invalid code"
I need to extend a class from a package that does not use PHP7 scalar type hints. When I extend the class and override a method TypeHintDeclarationSniff complains:

[code]

So I added the `@param` annotations. But then TypeHintDeclarationSniff complains with this:

[code]

It also automatically "fixes" the error by adding the type hint used in the annotation. Which of course causes PHP error:

[co

[2017-12-14 03:44] Majkl578 opened #222 "Yoda sniff fixer breaks code when assignment is used as part of Yoda"
Converts:
[code]
to:
[code]

[2017-12-14 14:09] ondrejmirtes commented on #221
Hi,
please check out this article: https://medium.com/@ondrejmirtes/three-pillars-of-static-analysis-in-php-f3f5d7bfd61b (PHP_CodeSniffer does not see any code outside of scope of currently analysed file).

That's why we cannot know that it's not OK to add the typehint. That's why `@phpcsSuppress SlevomatCodingStandard.TypeHints.TypeHintDeclaration.MissingParameterTypeHint` exists.

[2017-12-14 14:09] #221 closed

[2017-12-14 23:29] TomasVotruba commented on #219
@enumag Yet it's cleaner for most IDEs and static analysis tools.

[2017-12-14 23:31] TomasVotruba commented on #194
@temp You can find also some inspiration in this automated fixer: https://github.com/Symplify/CodingStandard#types-should-not-be-referenced-via-a-fullypartially-qualified-name-but-via-a-use-statement-wrench

[2017-12-19 13:40] kukulich commented on #220
@Majkl578 Could you please test version 4.1.0 ?

[2017-12-20 02:54] Majkl578 commented on #220
Will let you know later, can't really test now due https://github.com/slevomat/coding-standard/commit/7df050c2c2ac0a2316f9bfb936fd95b4462710e0#commitcomment-26381405

[2017-12-20 07:48] kukulich commented on #222
You can use this as a workaround for now:

[code]

[2017-12-20 11:04] kukulich commented on #222
It's probably not possible to fix because the fix will break more valid situations, eg. `$foo = $boo === true;`.

So it looks that adding parenthesis is the only option :(

[2017-12-20 11:04] #222 closed

[2017-12-20 11:05] #219 closed

[2017-12-20 11:51] kukulich commented on #215
I would have to check if the rule is disabled. I'm not sure if it's even possible. And it would also mean that I would have to read PHPCS configuration that can probably change in newer versions because it's internal.

So I will not try to fix this.

[2017-12-20 11:51] #215 closed

[2017-12-20 16:06] simPod opened #228 "Intersection types trigger error"
[code]

This does not work `Network[]&Collection` and triggers error above. This `Collection&Network[]` does not trigger the error.

Am I doing something wrong or is that a bug?

[2017-12-20 16:13] ondrejmirtes commented on #228
I think you're misusing intersection types. As PHPStan interprets them and as Slevomat CS expects this information, you should use `Collection|Network[]` which means `Collection of Network`.

[2017-12-20 16:31] simPod commented on #228
Well, ok then. It's a bit confusing TBH. Thanks

Anyway, is it still bug or the error was trigger by misuse of intersection types? If the second, we can close.

[2017-12-20 16:33] kukulich commented on #228
If you use |, it will work.

[2017-12-20 16:33] #228 closed

[2017-12-20 16:34] ondrejmirtes commented on #228
Slevomat CS expects item type specification in a union, it does not know
about intersection types.

On Wed, 20 Dec 2017 at 17:32, Šimon Podlipský <notifications@github.com>
wrote:

[2017-12-20 16:55] Majkl578 commented on #228
Would be awesome to expand support here as well, otherwise noone can really use PHPStan's advanced annotations (&, parenthesis etc.) with Slevomat CS. 😇

[2017-12-20 19:27] simPod commented on #228
@kukulich I know it will. It just doesn't smell right if you know what I mean ;)

[2017-12-21 18:34] Majkl578 opened #229 "UseStartsWithBackslash not detecting leading slash for functions/consts"
This is detected:
[code]
This is not:
[code]

CS version: 4.0.0

Also there is no autofix for this sniff. :/

[2017-12-21 19:39] kukulich commented on #229
Thank you for your report.

Fixed in https://github.com/slevomat/coding-standard/commit/baf23afb89b8ec1e19683d365357827aec094cae and implemented fixable in https://github.com/slevomat/coding-standard/commit/529a475d791a84a3f8eb297dbf2ca074467bedf3.

[2017-12-21 19:39] #229 closed

[2017-12-21 19:41] Majkl578 commented on #229
Thanks!

[2017-12-21 22:00] Majkl578 commented on #228
Can you please reopen this as a feature request and reconsider intersection support? It would be just another great step helping PHPStan's adoption.

[2017-12-23 02:32] Majkl578 commented on #220
Works with 4.1.0, thanks!

[2017-12-23 02:32] #220 closed

[2017-12-28 02:18] carusogabriel opened #230 "TypeHintDeclarationSniff does not detect Closure"
_This is a question, that could become a bug report_ :smile:

I have this piece of `PHP` code:
[code]

And I have the `TypeHintDeclarationSniff` sniff loaded. If I remove the return type-hint `void` from `testing` function, the `TypeHintDeclarationSniff.MissingReturnTypeHint` detects it. On the other hand, if I remove `bool` from the `Closure`, it does not detect.

Am I using the correct `Sniff`,

[2017-12-29 21:01] Majkl578 commented on #208
I think this should rather be namespace-related sniff (older code can't have `declare(strict_types=1)` due BC), but agreed, it's needed. The one referenced above is insufficient.

[2017-12-30 05:57] Majkl578 commented on #230
I believe this can't be reliably fixed/enforced by PHPCS alone. Since PHPCS is not a static analysis tool, it has no knowledge about types so it can't reliably make any assumptions about typing and would lead to false positives. Also it can't be usual _native_/_documented_ decision as for method parameters, since closures have no documentation standard. The only reliable check is for `void` - that

[2017-12-30 08:32] kukulich commented on #230
Thanks @Majkl578 for perfect explanation.

[2017-12-30 08:32] #230 closed

[2017-12-30 10:52] carusogabriel commented on #230
Thanks @Majkl578 👏
I’ll keep track of it in another way!

[2018-01-02 21:53] kukulich commented on #208
I hope I'll add the new option this week.

[2018-01-03 02:00] Majkl578 opened #232 "UnusedPrivateElements: False positive on static private property"
Following code produces false positive _`Class Foo contains unused property $foo.`_:
[code]

After swapping the modifiers (`private static`) the error disappears.

CS 4.1.0

[2018-01-03 12:02] kukulich commented on #232
Thank you for your report.

It should be fixed in https://github.com/slevomat/coding-standard/commit/2aa0a398f9f459bb6a00f392befefee543bdb183

[2018-01-03 12:02] #232 closed

[2018-01-03 14:00] kukulich commented on #208
Implemented in https://github.com/slevomat/coding-standard/commit/52cca43f4ef5a4fd69b416174f82b363e1915b7d

[2018-01-03 14:00] #208 closed

[2018-01-03 14:08] kukulich commented on #217
I decided not to implement this as new option because it would be very complicated.

[2018-01-03 14:46] kukulich commented on #210
Implemented in https://github.com/slevomat/coding-standard/commit/f6667fac2306fed1fad6d0aee4f7f32ecc863ddc.

[2018-01-03 14:46] #210 closed

[2018-01-03 15:23] virgofx commented on #208
:+1:

[2018-01-03 15:26] kukulich commented on #211
Thank you for your report.

Fixed in https://github.com/slevomat/coding-standard/commit/3c1826af9ef1cc2fbc70c51299549079b31d1e90.

[2018-01-03 15:26] #211 closed

[2018-01-03 15:35] Majkl578 commented on #208
👍, although I'd still prefer this separately for T_NAMESPACE, to be useful for legacy untyped code as well. :) Any ETA for 4.2 @kukulich?

[2018-01-03 15:49] kukulich commented on #208
@Majkl578 Today or tomorrow :) I'm trying to solve as much issues as possible :)

[2018-01-03 15:53] Majkl578 commented on #208
Awesome! Nice work, I will try to send one or two more PRs today, but don't wait for me. :)

[2018-01-03 15:55] kukulich commented on #194
No plans to implement it currently.

[2018-01-03 15:55] #194 closed

[2018-01-03 16:00] kukulich commented on #208
@Majkl578 I'll wait :) I need to put aside this repo for a while after the release so I can work on something else :)

I'll be happy if you can test master if there are no new bugs.

[2018-01-03 16:15] kukulich commented on #214
It looks it's not possible to determine current working directory from PHPCS so it's not possible to use relative path.

[2018-01-03 16:15] #214 closed

[2018-01-03 16:44] ohartl opened #234 "Namespaces.UnusedUses.UnusedUse - does not track function uses"
I am using a function from another Namespace and would like to import it, seems like `Namespaces.UnusedUses.UnusedUse` is lacking to acknowledge to usage. This could be a "bug" or a missing property.

[code]

Expected: No error

Actual:
[code]

[2018-01-03 17:51] Majkl578 commented on #208
Nothing new found in my feature set compared to 4.0.0. 👍

[2018-01-03 21:21] kukulich commented on #234
https://xkcd.com/583/

See test: https://github.com/slevomat/coding-standard/commit/6076e216d10d79b6c79ed341091997dcdda0c329
Results: https://travis-ci.org/slevomat/coding-standard/builds/324754732 https://ci.appveyor.com/project/slevomat/coding-standard/build/1.0.353

[2018-01-03 21:21] #234 closed

[2018-01-03 22:56] Majkl578 opened #236 "FullyQualifiedGlobal{Constants,Functions}Sniff: Configuration options needed"
It should be possible to:
- specify whether `use` is allowed for referencing functions/constants,
- specify whether `\` is allowed for referencing functions/constants,
- specify how to apply the fix, either by prepending `\` (currently forced now) or by adding `use`.

Original PR: #235

[2018-01-03 22:57] kukulich commented on #236
I think it could be 4 new sniffs.

[2018-01-04 05:27] Majkl578 opened #237 "Making LongTypeHints fixable"
I'd love to see a fixer for this sniff. I've been recently converting some code with long type names and fixing all of these manually becomes really tedious very soon. 😖

Should be trivial to implement, could PR later.

[2018-01-04 08:11] kukulich commented on #237
I thought it was not so easy to implement fixability when I created the sniff and it was easy to do global search&replace via PHPStorm that's why I didn't implement it for the first time.

However I had easy idea today how to do it so it is done :) https://github.com/slevomat/coding-standard/commit/accf5e3e049327bf43f0782caeced520217f2a8b

[2018-01-04 08:11] #237 closed

[2018-01-04 10:13] janedbal commented on #236
Moving from #235:
I was really looking forward for this feature. IMHO it could be solved by better naming of the sniff. The problem is that the original sniff was implemented for too narrow purpose and Majkl's update therefore doesn't completely fit in. What do you think?

[2018-01-04 10:22] kukulich opened #238 "AlphabeticallySortedUsesSniff does not support functions and constants probably"

[2018-01-04 10:54] KacerCZ commented on #210
Tested, works as expected.
Thank you.

[2018-01-04 11:47] kukulich commented on #236
As I said in #235 I prefer more sniffs:

- `FullyQualifiedConstantsSniff`: all constants have to be FQN, the same as `FullyQualifiedGlobalConstants` but not only for global constants, the option `exlude` should be supported too.
- `FullyQualifiedFunctionsSniff`: all functions have to be FQN, the same as `FullyQualifiedGlobalFunctions` but not only for global functions, the option `exlude` should b

[2018-01-04 11:51] kukulich commented on #236
It may by better to split `ReferenceUsedNamesOnlySniff` to 3 sniffs: classes, functions and constants.

[2018-01-04 13:03] kukulich commented on #238
Fixed in https://github.com/slevomat/coding-standard/commit/df7bed12390d7cba41cc1f41b4f8b45c353bb37c

[2018-01-04 13:03] #238 closed

[2018-01-04 14:13] kukulich commented on #236
It looks that some support in `ReferenceUsedNamesOnlySniff` was already there, just need to fix: https://github.com/slevomat/coding-standard/commit/998b5e96ce36a55d7821d17f39d296a17c05b481

[2018-01-04 16:15] Majkl578 commented on #236
Tried to configure `ReferenceUsedNamesOnlySniff` somehow, but haven't found a way to have reports that global functions are used inside namespace without `use function`. That kind of defeats the idea. :/ Maybe it doesn't take into consideration the fact that non-imported functions/constants automatically fall back to global scope? (Though there could be an issue with functional code and same-names

[2018-01-04 16:56] kukulich commented on #236
First problem is here: https://github.com/slevomat/coding-standard/blob/998b5e96ce36a55d7821d17f39d296a17c05b481/SlevomatCodingStandard/Sniffs/Namespaces/ReferenceUsedNamesOnlySniff.php#L170

Not sure if it's fixable in this sniff. It's too complicated. I'll look at it hopefully in next few days.

[2018-01-04 22:17] kukulich commented on #236
@Majkl578 Could you please try https://github.com/slevomat/coding-standard/tree/global-functions-and-constants ?

[2018-01-04 22:39] Majkl578 commented on #236
@kukulich Looks promising! Trying:
[code]
It seems to collide with `allowFullyQualifiedNameForCollidingClasses` - when enabled, global non-imported functions are not reported, only those with `\` in front are. When disabled, they're properly reported.
Also I'd suggest different message, current one is a bit confusing: `Function array_keys() should not be referenced via a fully qualified name, but

[2018-01-04 22:46] kukulich commented on #236
@Majkl578 Thank you for the test. I think I should add new error code, new message and probably two new options: ignoreGlobalFunctions, ignoreGlobalConstants.

[2018-01-05 12:42] kukulich commented on #217
Implemented in https://github.com/slevomat/coding-standard/commit/17acab83ae67ddc38c646e1acd1fcbc19a9faf0f

[2018-01-05 12:42] #217 closed

[2018-01-05 13:12] enumag commented on #217
@kukulich Thank you!

[2018-01-05 18:04] kukulich commented on #236
@Majkl578 Could you try new version please?

[2018-01-06 23:16] Majkl578 commented on #236
Tested on my project and on Doctrine ORM with:
[code]
LGTM. 💯 One issue only: the uses are not added in alphabetical order.

[2018-01-06 23:20] kukulich commented on #236
Thank you for testing. I will finish the sniff next week and do new release.

Alphabetical order should be fixed by AlphabeticallySortedUsesSniff

[2018-01-06 23:23] Majkl578 commented on #236
True, it's minor issue, but phpcbf must be executed again, or is there an option to specify sniff order/dependency?

[2018-01-06 23:26] kukulich commented on #236
phpcbf runs fixer in 50 loops so only if there’s a lot of changes in one place it’s not fixed in the first run.

[2018-01-08 17:07] kukulich commented on #236
Release 4.3.0 with improved support for functions and constants in `ReferenceUsedNamesOnlySniff`.

[2018-01-08 19:21] Majkl578 commented on #236
Let's close this, I think it fulfills my expectations, thanks. 😊 @janedbal have you given it a try?

[2018-01-08 19:21] #236 closed

[2018-01-09 09:50] janedbal opened #239 "ReferenceUsedNamesOnly with allowFallbackGlobalConstants=false reports invalid errors for multiple declares"
Following code
[code]
with following config
[code]
results in errors:

[code]

[2018-01-09 09:54] janedbal commented on #236
Works great! Thank you very much! Found only one small issue: #239

[2018-01-11 23:07] Majkl578 opened #240 "TypeHintDeclaration.UselessDocComment: Object type variance missing"
There seems to be no variance support for `object` typehint.
For return types:
[code]
and for parameter types:
[code]

Both of these are reported as having useless comment: `Method Test::foo() does not need documentation comment.` But these are not useless - they specify a more specific type which can't be changed in signature itself due to invariance/LSP.

Happens with PHP 7.2.1RC1 and CS 4.3.0.

[2018-01-13 02:08] Majkl578 opened #241 "TypeHintDeclaration.UselessDocComment: False positive when description contains dollar/variable"
[code]
Produces:

Appears as UselessDocComment or UselessParameterAnnotation. This is related to the variable in description - once removed, error disappears.

Side effect: Fixer removes the comment for the parameter entirely.

[2018-01-16 09:07] alcaeus opened #242 "Allow disabling BC breaking behavior in TypeHintDeclarationSniff"
This was previously reported in #202 and #221.

An example from Doctrine MongoDB ODM:
[code]

Enabling `SlevomatCodingStandard.TypeHints.TypeHintDeclaration` throws a fixable `MissingReturnTypeHint` error because the return type hint could be moved to the method signature.

Of course, fixing that error produces a BC break, so the only option for now is to either ignore the `MissingReturnTypeHint`

[2018-01-18 00:59] redthor opened #243 "Documentation for IncorrectWhitespaceBetweenOpenTagAndDeclare"
Hi there,
I started getting this

` 3 | ERROR | [x] There must be a single space between the PHP open tag and declare statement. (SlevomatCodingStandard.TypeHints.DeclareStrictTypes.IncorrectWhitespaceBetweenOpenTagAndDeclare)`

I couldn't find any documentation about it. Do you know why this check exists?
Thanks!

[2018-01-18 01:09] Majkl578 commented on #243
It's documented in README: https://github.com/slevomat/coding-standard#slevomatcodingstandardtypehintsdeclarestricttypes-

[2018-01-18 01:24] redthor commented on #243
Sorry, I don't see `IncorrectWhitespaceBetweenOpenTagAndDeclare` in there...

[2018-01-18 01:29] Majkl578 commented on #243
Error code is something different than option name. Maybe it's a bit confusing. What causes your error is option called `newlinesCountBetweenOpenTagAndDeclare`, also see [source](https://github.com/slevomat/coding-standard/blob/master/SlevomatCodingStandard/Sniffs/TypeHints/DeclareStrictTypesSniff.php#L131) for a proof.

[2018-01-18 03:49] redthor commented on #243
Ok, I think I get it. Somewhere the `newlinesCountBetweenOpenTagAndDeclare` is set to zero? If it is set to zero it then requires that we have a space after `<?php`, so that it becomes `<?php_`.

That makes sense, otherwise the opening tag would be `<?phpdeclare(strict_types`

Interestingly, I can add a space after the opening tag, e.g. `<?php_` *and* add two newline characters before the `declare

[2018-01-18 08:02] kukulich commented on #243
It's a bug, I'll fix it.

[2018-01-18 22:09] kukulich commented on #243
Should be fixed in https://github.com/slevomat/coding-standard/commit/8f5437d5c9124b06526a854ceb0b648bf37ac6ec

[2018-01-18 22:09] #243 closed

[2018-01-19 07:42] kukulich commented on #241
Thank you for your report.

Fixed in https://github.com/slevomat/coding-standard/commit/a0fb36df3dd72837971f6b96d77c69c84d6a84f7

[2018-01-19 07:42] #241 closed

[2018-01-21 12:38] kukulich commented on #242
Yes, `TypeHintDeclarationSniff` is one of the sniffs that really need refactoring (splitting to more sniffs). I plan to do it in next major release but I don't have any schedule currently.

The sniff is already very complicated so I don't want to add another option to it now.

So I'm sorry, using `@phpcsSuppress` annotation is therefore the only option how to solve your problem and not exclude the

[2018-01-21 13:03] kukulich commented on #239
Thank you for your report.

Fixed in https://github.com/slevomat/coding-standard/commit/08dd8076876e33524d642529d4adae985b3bf3fb.

[2018-01-21 13:03] #239 closed

[2018-01-21 20:54] kukulich commented on #240
Thank you for your report.

Fixed in https://github.com/slevomat/coding-standard/commit/823ba04bdcfe642ec2b912e4650d6e33d48c2ef7

[2018-01-21 20:54] #240 closed

[2018-01-21 21:14] Majkl578 commented on #240
Awesome, thanks!

[2018-01-25 02:14] Soullivaneuh opened #244 "UselessDocComment should remove @param and @return only"
Code sample:

[code]

Result:

[code]

Two issues here:

1. The useless `@param` method is not removed from the PHPDoc of `setEntityManager`
2. All the PHPDoc is removed from `setUserManager`, even `@required` which is mandatory for Symfony services auto-wiring

Related to #204. IMHO, it should be reconsidered.

Disabling this useful fixer is too radical. Why not just match and remove `@param` and

[2018-01-25 02:26] Majkl578 commented on #244
You need to configure useful annotations on the TypeHintDeclaration sniff, see usefulAnnotations option in docs: https://github.com/slevomat/coding-standard#slevomatcodingstandardtypehintstypehintdeclaration-
The list could be exhaustive and split across lines, also Doctrine namespacd annotations are supported (just put there annotation namespace with backslash). Example:
[code]

`@param` not bein

[2018-01-25 07:45] Soullivaneuh commented on #244
Oh right! I'll double check the documentation next time!

Still, I don't get it: Why not simply check for `@param` and `@return` only? If other annotations are present, it's surely for a reason. Am I wrong?

Indeed, and it's the same if I add `@required` on the `usefulAnnotations` options:

[code]

Here is my global composer installation:

[code]

[2018-01-25 07:56] Soullivaneuh commented on #244
@kukulich I did not. Should I? Here is my current config:

[code]

[2018-01-25 09:45] Soullivaneuh commented on #244
Thanks @kukulich, this option solve the issue! :+1:

The only "bad" thing is the blank line left by the fixer:

[code]

But I don't think it's the role of the fixer.

[2018-01-25 09:46] #244 closed

[2018-01-25 12:54] Soullivaneuh opened #245 "UseOnlyWhitelistedNamespaces: Allow all except root"
I would like to allows use statement for any namespace, except root.

A `allowUseFromRootNamespace` option is available under the `SlevomatCodingStandard.Namespaces.UseOnlyWhitelistedNamespaces` sniff.

It might feeds my needs, but using this sniffer force me to set a namespaces white-list, that I don't want.

Maybe this sniff should be splitted?

[2018-01-25 13:01] Soullivaneuh opened #246 "FullyQualifiedExceptions systemExceptions option"
Feature idea for `SlevomatCodingStandard.Namespaces.FullyQualifiedExceptions`: Adding a `systemExceptions` option.

This will enforce the sniffer to match only PHP root exception name matching (`RuntimeException`, `LogicException` etc...) instead of `*Exception`.

It would make things easier rather than having to list all our custom exceptions on a list.

WDYT? :-)

[2018-01-25 13:41] kukulich commented on #245
See `ReferenceUsedNamesOnlySniff`

[2018-01-25 13:41] #245 closed

[2018-01-25 15:56] Soullivaneuh opened #247 "@return mixed[]|null not converted to : ?array"
The following code part:

[code]

Should be converted to:

[code]

Am I right?

Using last stable version. Configuration:

[code]

[2018-01-25 15:59] kukulich commented on #247
No, `mixed` is required because when you use only `array` it's not possible to distinguish between "type hint is missing" and "type hint is mixed".

[2018-01-25 15:59] #247 closed

[2018-01-25 16:06] Soullivaneuh commented on #247
@kukulich I'm not talking about the `mixed` phpdoc, it's indeed necessary to keep it.

I'm talking about not adding `: ?array`. Why should not be valid? We have array|null return and the PHPDoc for a more accurate return type.

Regards.

[2018-01-25 16:15] kukulich commented on #247
Because “mixed[]” can be array, iterable, Iterator etc.

[2018-01-25 16:25] Soullivaneuh commented on #245
@kukulich May you please elaborate? I'm using this sniff, but I don't see which option would help me for that.

Here is my configuration:

[code]

So yes, I use `allowFullyQualifiedGlobalClasses`. But it does not enforce to not use `use DateTime` for example.

Thanks.

[2018-01-25 16:43] kukulich commented on #245
You’re right, it´s not forced but it´s the best you can do with current version. You can also prepare PR with “FullyQualifiedGlobalClassesSniff” based on FullyQualifiedGlobalFunctionsSniff.

[2018-01-25 17:07] Soullivaneuh commented on #245
Yes, in this case, could you please re-open this issue?

I don't have enough time right now, but maybe somebody else could be interested to make a PR. :wink:

[2018-01-25 17:07] Soullivaneuh commented on #245
BTW, on which sniffer should we work on to make this feasible?

[2018-01-25 23:41] Soullivaneuh opened #248 "UselessDocComment removed a white-listed annotation"
Given the following `TypeHintDeclaration` configuration:

[code]

And the following PHP code part:

[code]

The `@Security("is_granted('ROLE_ADMIN')")` is removed with the PHPDoc by the sniffer.

But this one is on the `usefulAnnotations` option, it should not be removed.

I suspected first it was because the annotation is lonely. But I can't reproduce with another annotation, such as `@Route` for

[2018-01-26 11:53] Soullivaneuh opened #249 "Check return typehint on anonymous functions"
Sample:

[code]

Can be converted to this:

[code]

The sniffer currently does not handle that case.

[2018-01-26 17:04] kukulich commented on #249
It's not easy to detect that your function returns boolean. That's why we support only `void` for anonymous functions.

[2018-01-26 17:04] #249 closed

[2018-01-26 17:07] kukulich commented on #246
It would be better to prepare special sniff `FullyQualifiedGlobalExceptions`. Would you prepare a PR?

[2018-01-26 18:17] Soullivaneuh commented on #246
What do you mean by a `FullyQualifiedGlobalExceptions` ? The goal for me it not too use FQCN for global exception but convert to FQCN all exception which look like the global exception.

Sample:

- `Foo\Bar\RuntimeException` -> Match
- `Foo\Bar\LogicException` -> Match
- `Foo\Bar\FishingRuntimeException` -> Does not match
- `Foo\Bar\NotRelatedException` -> Does not match

Do we agree? :-)

I don't

[2018-01-26 19:07] Majkl578 commented on #246
I personally don't see logic behind such convention so -1 from me...

[2018-01-26 19:10] kukulich commented on #246
Agreed.

[2018-01-26 19:10] #246 closed

[2018-01-28 15:08] Soullivaneuh commented on #249
Well, I did a bad explanation.

I didn't mean for a fixer, but the sniffer tells nothing about that.

IMO, the code-sniffer should add an error about a missing type-hint, should it not?

[2018-01-28 15:13] Majkl578 commented on #249
No, it can be mixed or anything and it can't be documented (closures have no phpDoc block), only safely detectable is void. This has been explained in past in another issue (can't provide a link now from phone).

[2018-01-28 15:14] Soullivaneuh commented on #246
The logic is to make FQCN usage for exception with same names as the system ones.

It make no senses to use FQCN for all classes just because they finish with `Exception`.

Would you accept a PR for it? It's still just an option after all.

[2018-01-28 15:17] Majkl578 commented on #246
Why do you use custom exceptions with the same unqualified name as built-ins? Better have meaningful exception names like NameNotUniqueException that extends \RuntimeException and implements you package's ExceptionInterface.

[2018-01-28 17:54] Majkl578 commented on #249
@Soullivaneuh See explanation in #230.

[2018-01-28 18:07] kukulich commented on #246
I agree with Majkl578 so I’m sorry I would not accept such a PR.

[2018-01-28 19:36] Majkl578 opened #250 "Annotation errors reported against wrong token/line"
Currently annotation errors are bound to the element they're for - either T_VARIABLE or T_FUNCTION.
The error should be reported on the line (pointer) of the annotation itself.

### Example
[code]

### Actual output
[code]

### Expected output
[code]

This currently makes trouble in Doctrine DBAL (doctrine/dbal#2996, doctrine/dbal#2998) where we use line-based CS validation (so new/changed code ob

[2018-01-28 20:59] kukulich commented on #250
Ok, I fixed other situations caused by my laziness :)

See https://github.com/slevomat/coding-standard/commit/6bf684684836e1559c949b27889ba44a11e61abd, https://github.com/slevomat/coding-standard/commit/bb3ee0298ab6ee4d4bd3f7e61abeb071b736c0b5, https://github.com/slevomat/coding-standard/commit/2189ea4eb39a0c086c42314326828ace3c25d0c4

[2018-01-28 20:59] #250 closed

[2018-01-28 21:09] kukulich commented on #248
Thank you for your report.

Fixed in https://github.com/slevomat/coding-standard/commit/872ecd4782be157706a97d72a0a763675c303dd8

[2018-01-28 21:09] #248 closed

[2018-01-29 12:10] Soullivaneuh commented on #248
Thank you for the fix! :+1:

[2018-01-29 12:12] Soullivaneuh commented on #249
@Majkl578 I totally agree for the impossibility to add a `@return` annotation, but we may introduce an option just for missing typehint warning? On most of the cases, an anonymous function does not returns tons of value type, it may be interesting to have this option.

[2018-01-29 12:13] Soullivaneuh commented on #246
I don't. But some libraries does and I can handle that.

[2018-01-30 10:03] kukulich opened #251 "Parse annotations with phpstan/phpdoc-parser"
https://github.com/phpstan/phpdoc-parser

[2018-01-30 14:04] Majkl578 commented on #251
:top: Will this also add support for Foo<> notation?

[2018-01-30 14:21] kukulich commented on #251
Yes

[2018-01-31 22:12] morozov opened #254 "phpcbf fails with a fatal error originated in UseStatementHelper"
Steps to reproduce:
1. Check out the branch where the issue was reproduced:`git clone git@github.com:morozov/dbal.git -b slevomat-issue`.
2. Install dependencies: `composer install`
3. Run `vendor/bin/phpcbf tests/Doctrine/Tests/DBAL/SQLParserUtilsTest.php`.

The output will start with:

[code]

[2018-01-31 22:14] kukulich commented on #254
@morozov Could you please find the file that caused this error?

[2018-01-31 22:14] morozov commented on #254
@kukulich you mean `tests/Doctrine/Tests/DBAL/SQLParserUtilsTest.php`?

[2018-01-31 22:16] kukulich commented on #254
@morozov I'm sorry I missed it. Thanks.

[2018-02-01 09:32] kukulich commented on #254
Hmm, it looks like a bug in PHPCS itself. The fixer creates invalid tokens and it's not possible to create a workaround :(

It's probably because of 417 CS errors in the file :)

You can use this workaround:
1. Comment all Slevomat sniffs in vendor/doctrine/coding-standard/lib/Doctrine/ruleset.xml
2. Run vendor/bin/phpcbf tests/Doctrine/Tests/DBAL/SQLParserUtilsTest.php
3. Revert changes in vendor

[2018-02-01 16:53] morozov commented on #254
Thanks @kukulich. Let's keep it open. If either of us is able to reduce the existing 417 CS errors to a smaller set, we could report the issue upstream to PHP CodeSniffer.

[2018-02-03 20:00] morozov opened #258 "FQN is not reported in property annotation"
Example script:
[code]
Actual output:
[code]
Expected output: line 8 should be reported as containing FQN as well.

Please see https://github.com/doctrine/dbal/pull/3002#discussion_r165686652 for the reference.

[2018-02-03 20:05] kukulich commented on #258
Hmm, the sniff does not check any doccomment but it should be possible very easy. I hope :)

[2018-02-04 22:46] kukulich commented on #258
@morozov Could you please try https://github.com/slevomat/coding-standard/commit/c73280903ece590687d0d9abdddb8e8efdb017ca ?

[2018-02-05 15:42] Majkl578 opened #260 "ForbiddenComments: Fails to remove empty inline doc block"
[code]

With:
[code]
Removes the comment, but `/***/` remains there.
Works for multi-line comments. Likely related to the trailing space in inline comment (which is trimmed).

[2018-02-05 16:03] kukulich commented on #260
Strange :) I don't remove any empty doccomment. I may do some other PHPCS sniff...

[2018-02-05 16:12] Majkl578 commented on #260
Maybe it is TypeHintDeclaration.UselessDocComment? Which does not apply to unbound comments. :)

[2018-02-05 16:16] kukulich commented on #260
You're probably right :)

Ok, I'll add really simple remover of empty doccomments to this sniff too.

[2018-02-05 16:22] Majkl578 commented on #260
Ok, cool, thanks! 👍 Maybe we can consider separate sniff for useless/empty docComments (maybe even extract it from TypeHintDeclaration) in future.

[2018-02-05 16:23] kukulich commented on #260
Yop, `TypeHintDeclaration` should be refactored and splitted in next major version (and some other sniffs too).

[2018-02-05 18:58] morozov commented on #258
Thanks @kukulich. I checked out the commit above and enabled `searchAnnotations` for `SlevomatCodingStandard.Namespaces.ReferenceUsedNamesOnly` in our [`ruleset.xml`](https://github.com/doctrine/coding-standard/blob/0f48be4c09ef08e9c0cff406d8428d65de628362/lib/Doctrine/ruleset.xml#L109). Still same output.

Most likely, I'm just doing something wrong. @Majkl578 could you please check this?

[2018-02-05 19:29] Majkl578 commented on #258
Testing on ORM, seems to work, or at least report errors like:
[code]

For [`@return here`](https://github.com/doctrine/doctrine2/blob/eef6308b1925ec2d98e1d78a8f89962ff2d156d7/lib/Doctrine/ORM/Query/Exec/AbstractSqlExecutor.php#L56).

To enable, require `slevomat/coding-standard: dev-master as 4.3.99` and just add:
[code]
and delete cache file `.phpcs-cache`.

[2018-02-05 19:46] Majkl578 commented on #260
Feel free to keep this as a feature request for next major, it's a nitpick mostly. :)

[2018-02-05 19:47] kukulich commented on #260
Already working on it ;)

[2018-02-05 19:48] morozov commented on #258
Clearing cache worked for me. Thanks.

[2018-02-05 20:53] kukulich commented on #260
https://github.com/slevomat/coding-standard/commit/5837f9323a3f9424202004d060671ba10215e1b1

[2018-02-05 20:53] #260 closed

[2018-02-05 20:54] #258 closed

[2018-02-06 09:18] nicwortel opened #261 "The required order of use statement types should be configurable"
The SlevomatCodingStandard.Namespaces.AlphabeticallySortedUses sniff enforces the order in which the use statement types (class, function, constant) are listed. However, the required order (class, constant, function) is hard coded in [`UseStatement.php`](https://github.com/slevomat/coding-standard/blob/master/SlevomatCodingStandard/Helpers/UseStatement.php#L116-L120), and differs from the order th

[2018-02-06 09:29] kukulich commented on #261
@nicwortel I think PSR-12 is wrong because it doesn't reflect how editors (eg. PHPStorm) currently work.

[2018-02-06 09:40] alcaeus commented on #261
@kukulich wouldn't that be a reason to make it configurable? I expect IDEs to follow suit once PSR-12 has gone through the vote. It might be worth holding off on building it until the discussion is through though.

The way I see it, if the sniff is expected to support PSR-12, it would also have to allow for the newline between the use statement groups.

[2018-02-06 09:44] kukulich commented on #261
https://github.com/php-fig/fig-standards/pull/1007 :)

It would be better to provide new sniff for `use` formatting.

[2018-02-06 09:45] alcaeus commented on #261
Yes, a new sniff would make sense. Don't want one sniff to do too much 👍

[2018-02-06 10:02] nicwortel commented on #261
I also filed an issue for PhpStorm to make the order configurable: https://youtrack.jetbrains.com/issue/WI-40357

Also see https://youtrack.jetbrains.com/issue/WI-40590 for the newlines between the import types.

[2018-02-06 10:06] kukulich commented on #261
Ok, https://github.com/php-fig/fig-standards/pull/1007 was declined so I'll do new configuration option. Just have to figure out how the configuration should look like.

[2018-02-06 16:01] kukulich commented on #261
Implemented in https://github.com/slevomat/coding-standard/commit/144cbdf12991520721c3becfcabd759af6d982ca

[2018-02-06 16:01] #261 closed

[2018-02-06 16:09] nicwortel commented on #261
Thank you!

[2018-02-06 17:24] Majkl578 opened #264 "Internal.Exception in EarlyExitSniff.php:133 (Undefined index)"
[code]

Failing code:
[code]

cmd:
[code]

Version 4.4.1.

[2018-02-06 17:42] Majkl578 opened #265 "EarlyExit fixer causes parse error"
Running phpcbf on:
[code]
gets converted into:
[code]

v4.4.1

[2018-02-06 17:45] kukulich commented on #264
Understood, this should be easy fix.

[2018-02-06 17:58] kukulich commented on #265
Shit, I made error in regexp. It should be easy fix too :)

[2018-02-06 18:39] Majkl578 commented on #265
One more similar issue:
[code]
converted to:
[code]

Not sure if the same issue, but looks like regexp issue too.

[2018-02-06 18:46] kukulich commented on #265
It’s probably the same but thanks for other test case.

[2018-02-06 21:19] kukulich commented on #264
Fixed in https://github.com/slevomat/coding-standard/commit/5413154aeeb012f07cbd2aa7f0f89e0c3187b695

[2018-02-06 21:19] #264 closed

[2018-02-06 21:19] kukulich commented on #265
Fixed in https://github.com/slevomat/coding-standard/commit/d0e1e4ff8f769907d50850b1cd6c2677daa7deb6

[2018-02-06 21:29] #265 closed

[2018-02-06 22:50] Majkl578 opened #266 "ReferenceUsedNamesOnly + searchAnnotations: fails to fix @return without comment"
Failed to fix error with:

[code]

When `@return` has comment, i.e.:
[code]
it works.

This is a pre-PHP 7.1 code so native return can't be used just yet.

v4.4.2

[2018-02-06 22:53] Majkl578 opened #267 "EarlyExit breaks isset in compound condition"
Having this code in foreach:

[code]

after fixing becomes:
[code]

[2018-02-06 22:58] Majkl578 opened #268 "EarlyExit doesn't properly handle binary AND in condition"
[code]
after fixing becomes:
[code]

The negated condition should be put into braces, otherwise it breaks precedence: https://3v4l.org/Gs1GX

[2018-02-07 09:27] #266 closed

[2018-02-07 09:46] alcaeus opened #270 "Sniff to force strict comparisons when strict types are enabled"
`declare(strict_types = 1)` does not affect functions like `in_array` that have a `$strict` parameter. There should be a sniff to require explicitly passing either `true` or `false` when strict typing is enabled. Requiring passing `false` allows for cases where strict type checks are explicitly not wanted without disabling the sniffs.

List of methods I found that have a `$strict` parameter:
* `ba

[2018-02-07 09:49] alcaeus commented on #270
`SlevomatCodingStandard.Types.RequireStrictFunctionCalls`?

[2018-02-07 10:36] kukulich commented on #268
Thank you for your report.

Fixed in https://github.com/slevomat/coding-standard/commit/7e2a06c261ec4815c124ee019deabca6d86e5fc9

[2018-02-07 10:36] #268 closed

[2018-02-07 10:51] kukulich commented on #267
Thank you for your report.

Fixed in https://github.com/slevomat/coding-standard/commit/280ad6ab1256a176dfeca13a221ef2db03c59617

[2018-02-07 10:51] #267 closed

[2018-02-07 11:17] kukulich commented on #270
Do you agree that this sniff should not be fixable?

Or I can add option `$fixable` with big warning and then add `true` always.

[2018-02-07 11:37] alcaeus commented on #270
I think it's best to leave it not fixable and let the developer deal with the fallout. Always assuming `true` can have unintended consequences and we don't want to guess what the developer was thinking.

[2018-02-07 14:25] kukulich commented on #270
It looks that the check is already in PHPStan (https://github.com/phpstan/phpstan-strict-rules) so I think it's no need to duplicate it in PHPCS...

However I've just improved the PHPStan rule based on your suggestions:
- https://github.com/phpstan/phpstan-strict-rules/pull/10/commits/1027243a0bb1df3cfd1d37f84ada3627560f2f77
- https://github.com/phpstan/phpstan-strict-rules/pull/10/commits/9dcbc65

[2018-02-07 19:18] iammattcoleman opened #272 "`Namespaces.UnusedUses.MismatchingCaseSensitivity` only detects the first occurrence"
# Overview
Only the first occurrence of a case mismatch between the use statement and actual use of the class is reported.

# Steps to reproduce
Run `phpcs` on a file with the following contents:
[code]

## Expected output
[code]

## Actual output
[code]

[2018-02-07 20:54] kukulich commented on #261
The sniff for `use` spacing just landed in master: https://github.com/slevomat/coding-standard/commit/e5e3a25327abf80afad3bf8b34218dfcbd079140

[2018-02-07 21:25] kukulich commented on #272
Thank you for your report.

Fixed in https://github.com/slevomat/coding-standard/commit/57d7f1b50139028fc57908792c83c86092f9634b

[2018-02-07 21:25] #272 closed

[2018-02-08 03:08] Majkl578 opened #273 "ReferenceUsedNamesOnly - some annotations not detected, possibly when referenced native types exist"
The `@param` annotation in this snippet is not detected:
[code]
When native type hint is removed, detection works.

And another case:
[code]
When I remove method `getSql()` (or the type hint in its parameter), detections works.

[2018-02-08 03:38] Majkl578 opened #274 "EarlyExit fixer - incorrectly negated code"
[This code from Doctrine's UnitOfWork](https://github.com/doctrine/doctrine2/blob/e0ee4b1ad7acb0efbe89553eb3176d36b29713ec/lib/Doctrine/ORM/UnitOfWork.php#L2317) is incorrectly negated (broken tests):

[code]

[code]

Also the brace after instanceof is after comment.

[2018-02-08 03:45] Majkl578 opened #275 "EarlyExit fixer - incorrectly (not-)negated code #2 (with isset)"
This code from [Doctrine's SimpleObjectHydrator](https://github.com/doctrine/doctrine2/blob/e0ee4b1ad7acb0efbe89553eb3176d36b29713ec/lib/Doctrine/ORM/Internal/Hydration/SimpleObjectHydrator.php#L125):
[code]
fixer converts it into:
[code]

[2018-02-08 06:10] alcaeus commented on #270
Oh, I didn't know those - will have to check them out. Thanks for the improvements!

[2018-02-08 06:10] #270 closed

[2018-02-08 08:21] kukulich commented on #275
I'm always happy when I wake up and see new reported bugs from you 😀

Just kidding :) Thank you for your report.

Fixed in https://github.com/slevomat/coding-standard/commit/abecb88680e18e35e19c03472fef39ddb0af6d66.

[2018-02-08 08:21] #275 closed

[2018-02-08 08:33] kukulich commented on #274
Fixed in https://github.com/slevomat/coding-standard/commit/31361b71375766c4974810f92e083f2bb468c5f7

[2018-02-08 10:06] nicwortel opened #276 "ReferenceUsedNamesOnly: importing global functions and constants should not be necessary when in the global namespace"
# Steps to reproduce

1. Create a file `index.php`:

[code]
2. Create a `phpcs.xml`:

[code]
3. Run PHPCS:
[code]

# Expected result

PHPCS passes: since we are in the global namespace, we shouldn't have to import functions or constants.

# Actual result
PHPCS reports errors:
[code]

Running `vendor/bin/phpcbf` will add the use statements, which PhpStorm will then mark as unnecessary:

![PhpStorm

[2018-02-08 10:08] nicwortel commented on #276
Note that the sniff already seems to detect this for classes, as PHPCS reports no error for the following file:

[code]

[2018-02-08 11:40] kukulich commented on #274
Fixed in https://github.com/slevomat/coding-standard/commit/a2e8bf6bf5b62d345f698ae2d8e4c5644aaeecbb

I hope I did not broke something else :)

[2018-02-08 11:40] #274 closed

[2018-02-08 14:09] kukulich commented on #273
Thank you for your report.

Fixed in https://github.com/slevomat/coding-standard/commit/4c16a297703fc1ada21098166e32aacc7264923b

[2018-02-08 14:09] #273 closed

[2018-02-08 14:16] kukulich commented on #276
Thank you for your report.

Fixed in https://github.com/slevomat/coding-standard/commit/ec1fd10ec2d2223b345f107d89039c7be5f8ceba

[2018-02-08 14:16] #276 closed

[2018-02-08 19:40] Soullivaneuh opened #277 "EarlyExit wrong fix with a OR condition"
According to the produced diff:

[code]

Only the first part of the condition is modified, changing the behavior and making the test failing.

[2018-02-08 19:46] kukulich commented on #277
@Soullivaneuh What version do you use?

[2018-02-08 19:47] Soullivaneuh commented on #277
`4.4.3`

[2018-02-08 19:47] kukulich commented on #277
@Soullivaneuh Try dev-master please.

[2018-02-08 19:50] Soullivaneuh commented on #277
Indeed I didn't see your fixes.

Works on master, thanks. I'll wait the next release.

[2018-02-08 19:50] #277 closed

[2018-02-08 23:07] gsdevme opened #278 "UnusedUsesSniff and case mismatch"
Hi,

I can see via https://github.com/slevomat/coding-standard/commit/7795645f18aebbff58ae1d0062ec6590642d0b3f there was a change to search for case-mismatch.. however Im not sure if this is a behaviour change. In the example below its flagged because `exception` !== `Exception` however.. this is a just a documentation comment about the class.. Was this meant to target types in docblocks only?

Do

[2018-02-08 23:15] Majkl578 commented on #278
I can confirm this issue, lots of false positives. For example [for Doctrine's CacheFactory](https://github.com/doctrine/doctrine2/blob/4509c770da4dbed1568ddd3f89bd0663c01ef059/lib/Doctrine/ORM/Cache/CacheFactory.php):
[code]

[2018-02-08 23:18] Soullivaneuh commented on #278
Same thing here:

[code]

The pointed code part:

[code]

[2018-02-08 23:34] iammattcoleman commented on #278
I'm seeing a ton of these on my tests, too, now.

It seems like it should only be checking type-hinting  annotations (`@param`, `@return`, etc.) in the docblock.

It shouldn't check all annotations: for example, Symfony `@Route` annotations should not be checked for class names.

[2018-02-09 00:45] gsdevme commented on #278
Yeah seems we all agree a general consensus, Id imagine this is a mistake and not expected behaviour

[2018-02-09 13:19] kukulich commented on #278
I'm sorry I hope it's fixed via https://github.com/slevomat/coding-standard/commit/c7b06b961efc2d6ec4b813acb01d557346cdf391

Please test. I'm not sure if I test all possible use cases.

The bug was caused because of relaxed regexp to support syntax like https://github.com/slevomat/coding-standard/blob/master/tests/Sniffs/Namespaces/data/unusedUsesInAnnotation.php#L24 or https://github.com/slevomat

[2018-02-09 14:10] lcobucci commented on #278
@kukulich just tested and it's almost 100%.

There's a small issue with things like `@Serializer\Type("uuid")` when having a `Uuid` class available

[2018-02-09 15:27] Majkl578 opened #279 "DeclareStrictTypes treats doc comment as newline"
[code]

currently reports:
[code]

Only happens in dev-master, 4.4.4 is ok.

[2018-02-09 15:32] kukulich commented on #278
@lcobucci Fixed https://github.com/slevomat/coding-standard/commit/39fca81221f3ef98058b0b4b964f7158ead6cc70

[2018-02-09 15:34] Majkl578 opened #280 "UnusedUses incorrectly reports some types used in unions"
[code]
The sniff reports:
[code]

Only dev-master, 4.4.4 is ok.

[2018-02-09 15:36] Majkl578 commented on #278
MismatchingCaseSensitivity seems to be fixed (no report for ORM lib/), but the fix probably introduced #280.

[2018-02-09 15:38] lcobucci commented on #278
@kukulich now the sniff fails on a different scenario:

[code]

[code]

[2018-02-09 15:39] lcobucci commented on #278
It's not the `MismatchingCaseSensitivity`, though 😄

[2018-02-09 15:39] kukulich commented on #278
Fucking sniff doing too much :)

[2018-02-09 15:40] lcobucci commented on #278
Just saw @Majkl578 comment right now... I think it's safe to assume that this issue has been fixed and move on to #280

[2018-02-09 15:40] iammattcoleman commented on #278
I'm still seeing problems with the `@Route` annotation. Add the following comment to `tests/Sniffs/Namespaces/data/caseInsensitiveUse.php` to see it in action:
[code]

Perhaps make a whitelist with only certain annotations and allow us to add/remove annotations via a setting?

Also, the recent changes broke all of my `@expectedException` annotations: they're all being reported as unused (SlevomatC

[2018-02-09 15:41] lcobucci commented on #278
@iammattcoleman are you configuring these annotations as useful in `SlevomatCodingStandard.TypeHints.TypeHintDeclaration`?

[2018-02-09 15:49] iammattcoleman commented on #278
@lcobucci I'm not using `SlevomatCodingStandard.TypeHints.TypeHintDeclaration`. Prior to c7b06b9, I didn't get any `SlevomatCodingStandard.Namespaces.UnusedUses.UnusedUse` errors for any of the `@expectedException` annotations in my test classes.

[2018-02-09 16:07] kukulich commented on #280
I'm sorry, should be fixed in https://github.com/slevomat/coding-standard/commit/bfda8d10556d31a18b3c16d2a420ac30f2a09c07

[2018-02-09 16:07] kukulich commented on #278
Ok, one more try: https://github.com/slevomat/coding-standard/commit/bfda8d10556d31a18b3c16d2a420ac30f2a09c07

[2018-02-09 16:09] lcobucci commented on #278
100% :shipit:

[2018-02-09 16:20] kukulich commented on #279
Thank you for your report.

Fixed in https://github.com/slevomat/coding-standard/commit/bd5fdab8b1d09d2eecbb41a8a48e5bb21bd7aa37

[2018-02-09 16:20] #279 closed

[2018-02-09 17:23] Majkl578 commented on #280
Looks ok, thanks. 👍

[2018-02-09 17:23] #280 closed

[2018-02-09 18:30] iammattcoleman commented on #278
@kukulich I'm still getting incorrect results for my `@Route` annotations:
[code]

Line 25 of the file in question is:
[code]

Also, I'm still getting the `SlevomatCodingStandard.Namespaces.UnusedUses.UnusedUse` errors for all my `@expectedException` annotations that started happening in commit c7b06b9.

[2018-02-09 18:32] kukulich commented on #278
@iammattcoleman Can you please post an example of the annotation?

[2018-02-09 18:47] iammattcoleman commented on #278
@kukulich Here are all the `@Route` annotations that should not count as `SlevomatCodingStandard.Namespaces.UnusedUses.MismatchingCaseSensitivity` errors:
[code]

The `use` statement for `Widget` is:
[code]

Here are all the `@expectedAnnotation` annotations that are not being detected as uses:
[code]

[2018-02-09 18:58] kukulich commented on #278
@iammattcoleman I fixed the `@Route` bugs but I'm not able to reproduce the `@exceptionException` bug: https://github.com/slevomat/coding-standard/commit/9b44d3bc939b5dc54bc859911ea5822baeb45d81

[2018-02-09 19:28] iammattcoleman commented on #278
@kukulich 9b44d3b fixed both the `@Route` and `@expectedException` annotations for me. Unfortunately, it broke `@Assert` annotations.

[code]

[2018-02-09 21:16] kukulich commented on #278
Fixed in https://github.com/slevomat/coding-standard/commit/ad3b191998286caa3a915390dd6455a91f039e60 and I'm done and going to ship it :)

[2018-02-09 21:16] #278 closed

[2018-02-11 01:57] Majkl578 opened #281 "UnusedUses not compatible with nested ::class references used in Doctrine annotations"
[code]

First two are ok, but the other two are not detected:
[code]

[2018-02-11 10:15] kukulich commented on #278
@xificurk You can disable the “searchAnnotions” option.

[2018-02-11 10:20] kukulich commented on #278
@xificurk Or you can disable the case mismatch check

[2018-02-11 10:52] xificurk commented on #278
Yes, but then I would get a lot of unused uses errors e.g. in Doctrine entities.

Yes, but I will loose this sniff for php code as well, e.g. this error:
[code]

--
I know that it's kind of funny that for some cases I want the annotation name linked to class name, and for others not, but that's the real-world state of things. Furthermore it just worked with previous versions of slevomat/coding-sta

[2018-02-11 11:03] kukulich commented on #281
Thank for your report.

Fixed in https://github.com/slevomat/coding-standard/commit/09b4ce5c86df9e071bc1e86111a7455c8a4650fa

[2018-02-11 11:03] #281 closed

[2018-02-11 11:11] xificurk commented on #278
Seems like the ignore list should be pretty easy to implement - I'll prepare PR.

[2018-02-11 17:37] Majkl578 opened #283 "UnusedUses: Strange false positive in multiline indented annotations with constants"
This piece of code incorrectly reports unused Y:
[code]
but when I remove the newline & indent before completely unrelated `@Z`, no error is reported:
[code]

[code]

dev-master @ 09b4ce5

[2018-02-11 17:57] kukulich commented on #283
In the first example the “@Z” is probably detected as T_DOC_COMMENT_TAG. Parsing of annotations is broken in PHPCS. I tried to fixed it in AnnotationHelper but it looks I did not fixed all situations. However it should be fixable relatively easy with your perfect test case!

[2018-02-11 21:56] dg commented on #278
Another case:

[code]

[2018-02-12 11:38] kukulich commented on #283
Should be fixed via https://github.com/slevomat/coding-standard/commit/946e8349addd4b37df97df64941e0e648cb035d8

[2018-02-12 11:38] #283 closed

[2018-02-14 21:27] donatj opened #285 "UnusedUses - Classes `use`'d by Documentation Now Marked Unused"
We updated from 4.1.0 to 4.4.5 today and suddenly all our types that are `use`-d for documentation by  strictly in documentation like `@return DiInterface` are marked unused by `SlevomatCodingStandard.Namespaces.UnusedUses`

I suspect #283 may have had something to do with the break.

The following is a broken example:

[code]

We have an automatic process to cbf fix `SlevomatCodingStandard.Namesp

[2018-02-14 21:39] kukulich commented on #285
@donatj Can you please check `dev-master`?

[2018-02-14 21:41] donatj commented on #285
I can in about an hour. Just driving home from work.

On Feb 14, 2018 3:39 PM, "Jaroslav Hanslík" <notifications@github.com>
wrote:

[2018-02-15 00:30] donatj commented on #285
I totally spaced that it's Valentine's day and I had dinner plans with my
wife. I will work on this tomorrow.

On Feb 14, 2018 3:41 PM, "Jesse G. Donat" <donatj@gmail.com> wrote:

[2018-02-15 16:14] donatj commented on #285
Tried it again with `dev-master` - still an issue - even with that example file given above.

Running it just against the file above I receive

[code]

[2018-02-15 16:19] Majkl578 commented on #285
Did you enable `searchAnnotations` option?
[code]

[2018-02-15 16:23] donatj commented on #285
@Majkl578 Good question. We did not - Is that option new or were we just relying on a bug?

That eliminated **most** of the problem's. Let me take a look at the couple we still have and see if they're legit. If they are I'll try to boil them down into examples.

[2018-02-15 16:25] Majkl578 commented on #285
It's there since ever: https://github.com/slevomat/coding-standard/blame/master/SlevomatCodingStandard/Sniffs/Namespaces/UnusedUsesSniff.php#L21

[2018-02-15 16:26] Majkl578 commented on #285
Also please make sure you test with dev-master, 4.4.5 has some known bugs (waiting for 4.4.6 which should fix them).
https://github.com/slevomat/coding-standard/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aclosed+unuseduses

[2018-02-15 16:29] donatj commented on #285
@Majkl578 Yep, I am on dev-master as @kukulich asked me to be.

The remaining issues all appear to be with things using `@var` within a method ala:

[code]

The example above is silly of course, I just boiled it down - our use case are things we are pulling out of Di that are not typed, we tell our static analyzers the type with a syntax as above.

[2018-02-15 16:34] kukulich commented on #285
I cannot decide if it’s a bug or feature :)

There’s another sniff that reports this as invalid because the right versiou should be “@var UserMapper $userMapper”

[2018-02-15 16:36] donatj commented on #285
@kukulich http://docs.phpdoc.org/references/phpdoc/tags/var.html  PHPDocumentor has the type first in their documentation ;)

[2018-02-15 16:42] Majkl578 commented on #285
Imho the given code is invalid, it should be `@var DiInterface $soup`.

[2018-02-15 16:48] donatj commented on #285
I'm not going to put up a fight over it.

Just going to have to update a bunch of places in our code I guess ;)

[2018-02-15 17:08] donatj commented on #285
For the record I did have `searchAnnotations` turned on - just not in the ruleset I made to debug the problem ;)

[2018-02-15 17:10] kukulich commented on #285
Fixed in https://github.com/slevomat/coding-standard/commit/86262345729a05d8633a080e4862f5a5379de38d

[2018-02-15 17:10] #285 closed

[2018-02-15 20:22] mkroeders opened #286 "Undefined index: scope_opener"
The `EarlyExitSniff` has an internal exception when the `scope_opener` is not set for line 47. My feeling says it will also fail for `scope_closer`

Although I have no clue where the exact error comes from I have the understanding that the following code of mine that is sniffed produces the error;

[code]

Hope it can be fixed

[2018-02-15 22:08] kukulich commented on #286
@mkroeders What version do you use? Can you please check master?

[2018-02-16 08:56] mkroeders commented on #286
Was running 4.4.6, changed to dev master but still get an error

`	An error occurred during processing; checking has been aborted. The error message was:
   |       | Undefined index: scope_closer in EarlyExitSniff.php
   |       | on line 477 (Internal.Exception)`

[2018-02-16 09:32] kukulich commented on #286
@mkroeders No, the right fix is to write `elseif` correctly, that means without the space.

[2018-02-16 10:50] nicwortel commented on #276
@kukulich thank you for the fix! Could you release/tag a new version containing this fix?

[2018-02-16 11:06] nicwortel commented on #276
I'm sorry, I was confused by the commit ec1fd10 only listed as part of the master branch and not as part of a tag, but it appears that the fix is actually in the current release. So ignore my previous message 😉

[2018-02-16 12:00] mkroeders commented on #286
@kukulich using `elseif` indeed fixed the error. Perhaps make a sniff that `else if` is not valid

[2018-02-16 18:53] Majkl578 opened #287 "ReferenceUsedNamesOnly fixer: incorrect use placement for non-namespaced code"
This non-namespaced and non-strict code is fixed incorrectly:

[code]
becomes
[code]
The `use` is added as trait use.

Relevant config:
[code]

Should probably be added after `<?php` (or `declare()` if exists).

Version 4.4.6.

[2018-02-16 20:26] Majkl578 commented on #286
It's already part of PSR-2:
https://www.php-fig.org/psr/psr-2/#51-if-elseif-else
https://github.com/squizlabs/PHP_CodeSniffer/blob/master/src/Standards/PSR2/Sniffs/ControlStructures/ElseIfDeclarationSniff.php

But the sniff should not break on `else if` either imho.

[2018-02-17 07:39] kukulich commented on #286
Yes, I’ll throw an exception.

[2018-02-17 09:09] #286 closed

[2018-02-18 13:21] simPod opened #288 "Wrong Mismatching Case Sensitivity"
`SomeClass.php`

[code]

`SomeClass2.php`
[code]
Throws

[2018-02-19 17:27] kukulich commented on #287
Thank you for your report.

Fixed in https://github.com/slevomat/coding-standard/commit/32cfa6cf0f044447fe3c963656982a3dabf7b535

[2018-02-19 17:27] #287 closed

[2018-02-21 10:50] honzatrtik opened #289 "Question regarding TypeNameMatchesFileName properties"
Hi!
Is it possible to configure `SlevomatCodingStandard.Files.TypeNameMatchesFileName` sniff that there is `src` dir mapped as root namespace? Something we are used to do in `composer.json` -
[code]

I was thinking about something like:
[code]

but this obviously does not work as expected...
Am I missing something?

Thanks!

[2018-02-21 11:33] ondrejmirtes commented on #289
Why does your app not have a common root namespace? 😀

On Wed, 21 Feb 2018 at 11:50, Jan Trtík <notifications@github.com> wrote:

--

Ondřej Mirtes

[2018-02-21 12:03] honzatrtik commented on #289
Well, each of our apps does... But the use case is quite universal docker image with coding standards baked-in, that we use throughout multiple projects.

[2018-02-21 13:00] ondrejmirtes commented on #289
I don't understand. What's your directory/namespace structure?

[2018-02-21 14:40] honzatrtik commented on #289
We have docker image with phpcs ruleset inside. This image is intended to be used for checking multiple projects. All the projects follow psr0,  and we'd like to have `rootNamespaces` property configured universally (all project have classes located in `src` directory, but have different vendor namespaces). Did I make it more clear now?

[2018-02-21 16:12] Majkl578 commented on #289
You should likely override this by setting e property in your project's `phpcs.xml.dist`.

[2018-02-21 18:48] ondrejmirtes commented on #289
@honzatrtik OK, so you have one common ruleset, I'm all for that. But be aware of the fact that some settings are project-specific, like namespace-directory settings. So I still think your feature request does not make much sense because it leaks your configuration/infrastructure issue and isn't something that make sense for other users. You should be able to satisfy your needs by composing existi

[2018-02-23 16:21] ohartl opened #290 "UnusedUses.UnusedUse false positive on phpdoc method"
[code]

Is being reported as `3 | ERROR | [x] Type Project/Foo is not used in this file. (SlevomatCodingStandard.Namespaces.UnusedUses.UnusedUse)` , but `Foo` is used in the `@method` Annotation

[2018-02-23 16:42] Majkl578 commented on #290
You have to enable the `searchAnnotations` option: https://github.com/slevomat/coding-standard#slevomatcodingstandardnamespacesunuseduses-

[2018-02-23 16:46] kukulich commented on #290
The option will not help. The “@method” format is really not supported now, @VasekPurchart already reported it to me privatly. I’m going to fix it next week.

[2018-02-23 16:57] Majkl578 commented on #290
Interesting, because I tested it locally and it is not reported with `searchAnnotations=true`.

[2018-02-23 17:03] kukulich commented on #290
Really strange :)

[2018-02-23 18:39] iammattcoleman commented on #288
I am also getting false positives for `UnusedUses.MismatchingCaseSensitivity` after running `composer update` just now:
[code]

This test passes on 4.4.3 but fails on all newer versions. The failure state is not the same from version to version...

On 4.4.3:
[code]

On 4.4.5:
[code]

On 4.4.6 (same as 4.4.4):
[code]

[2018-02-23 18:58] iammattcoleman commented on #290
@kukulich @ohartl's example (with the namespace slashes corrected) passes on 4.4.4, but does not pass on newer versions. It also passes on 4.4.3, which is the version I'll be using for now due to this issue and #288.

[2018-02-23 19:15] kukulich commented on #288
@iammattcoleman Your bug is probably not fixable...

[2018-02-23 19:23] kukulich commented on #288
@iammattcoleman Hmm, it should be, I’ll try :)

[2018-02-25 16:58] benijo commented on #290
Same trouble in `property-read` annotation - with `searchAnnotations=true`

[code]

[2018-02-27 10:02] #288 closed, assigned to nobody

[2018-02-27 10:04] kukulich commented on #290
@benijo Your bug should be fixed in `dev-master`.

[2018-02-27 15:22] janedbal opened #292 "Possibility to disallow inline doccomments"
It would be great if I could disallow inline doccomments (probably in `SlevomatCodingStandard.Commenting.DocCommentSpacing`?):

[code]

Do you plan to implement something like this?

[2018-02-27 15:31] Majkl578 commented on #292
It would be great if I could disallow multiline doccomments. :)

I have a sniff for this already: https://github.com/cdn77/coding-standard/blob/master/Cdn77CodingStandard/Sniffs/Classes/InlinePropertyVarTypeHintSniff.php

If @kukulich agrees I can PR it here + add counterpart to _ban inlines_.

[2018-02-27 15:38] kukulich commented on #292
@Majkl578 Perfect!

Something like `.Commenting.DisallowOneLinePropertyDocComment` and `.Commenting.RequireOneLinePropertyDocComment` to be consistent with the rest of the sniffs.
|

[2018-02-27 15:39] kukulich commented on #292
@Majkl578 I want both sniffs to be fixable but I can implement it myself after your PR is merged :)

[2018-02-27 16:07] #289 closed

[2018-02-27 21:52] iammattcoleman commented on #290
@kukulich I just confirmed that the issue is fixed for me in `dev-master`.

[2018-02-27 21:53] iammattcoleman commented on #288
@kukulich Thanks for fixing this!

[2018-02-27 22:32] kukulich commented on #290
Support for `@method` annotation just landed in master.

[2018-02-27 22:32] #290 closed

[2018-02-28 23:33] marcingy opened #293 "Issue with UnusedUsesSniff in latest version"
We have a case where by phpunit annotations are flagging errors incorrectly with case

We have a use statement as follows
`
use Aws\Sns;
`
And then the following annotation
`
* @group SNS
`

And this gives the error
`
 15 | ERROR | Case of reference name "SNS" and use statement "Sns" do not match.
`
There is also a similar issue with @exceptedExceptionMessage.

I wonder if the fix for this long te

[2018-02-28 23:49] kukulich commented on #293
@marcingy There's an option (only in master now) to ignore annotation names. Could you prepare PR with new option `ignoreAnnotations` to ignore the whole annotation line?

[2018-03-01 14:42] marcingy commented on #293
Created #294 for this.

[2018-03-01 14:47] kukulich commented on #293
No, you didnt understand it.

[2018-03-03 09:07] mavimo opened #297 "Annotation with generics"
Hello!
I try to upgrade to to latest version of this package (version `4.5` from previous `4.1`) but we have some issue with `SlevomatCodingStandard\Sniffs\Namespaces\UnusedUsesSniff`.
We use [phpstan](https://github.com/phpstan/phpstan) via [phropecy](https://github.com/Jan0707/phpstan-prophecy) extension, that allow to use angular brackets to specify a generics for object, eg:

[code]
but the sp

[2018-03-03 09:24] kukulich commented on #297
Thank you for your report but is duplicate to https://github.com/slevomat/coding-standard/issues/251

[2018-03-03 09:24] #297 closed

[2018-03-03 09:27] mavimo commented on #297
@kukulich sorry I totally miss the #251 :)

[2018-03-03 09:46] mavimo commented on #297
@ondrejmirtes I think is done by phpstan extension, I'll investigate.

[2018-03-04 02:27] Majkl578 opened #298 "EmptyComment reports empty lines in multi-line `//`"
Consider this comment from Doctrine:
[code]

Both those `//` are reported as empty comment. In my opinion, this should be valid use case and not be reported.

[2018-03-04 08:20] kukulich commented on #298
Not sure. Should not be changed to block comment instead?

[2018-03-04 15:31] Majkl578 commented on #298
Since this type of comments is often also used to comment out PHP code, which typically can contain blank lines too, I would consider this multi-line comment and not report an error. (Unlike the case where empty line is not commented out.)
cc @ocramius @alcaeus, what do you think?

[2018-03-04 15:48] alcaeus commented on #298
I’d consider a commented-out block of code including empty lines a checkstyle itself. I’m ok leaving it as is. // is for one line comments, for everything else, there are block comments

[2018-03-04 23:19] lcobucci commented on #293
@kukulich I do have an issue here (running `4.5.0`):

[code]

[code]

Should I open a new issue?

[2018-03-05 06:30] kukulich commented on #293
@lcobucci Yes, please.

[2018-03-05 07:46] #292 closed

[2018-03-05 08:12] kukulich commented on #293
@lcobucci Fixed in master, I'll relase 4.5.1 this evening or tomorrow it anything else pop out.

[2018-03-05 09:12] lcobucci commented on #293
@kukulich awesome! Thanks a lot =)

[2018-03-05 12:31] fefas opened #299 "UselessDocComment error if there is only @thows in docblock"
Hello,

I don't know if that is a bug or an expected behavior, but it seems strange to me and by looking the code I couldn't figure out if this Sniff would be configurable.

My problem is that the following method is generating an `UselessDocComment` error:
[code]

If this error is not expected, maybe a new `if` is missing around line 566 of `TypeHintDeclarationSniff.php`.

[2018-03-05 13:02] kukulich commented on #299
@fefas Did you read README?

[2018-03-05 13:49] fefas commented on #299
@kukulich .. yes, I did. You mean [this part](https://github.com/slevomat/coding-standard#slevomatcodingstandardtypehintstypehintdeclaration-)? Sorry, if I've missed something..

[2018-03-05 13:52] kukulich commented on #299
Yes, I did. There's a list with options of this sniff.

[2018-03-05 14:06] fefas commented on #299
Mh! I see.. I can provide it in `usefulAnnotations` .. I've added the following config and it works fine 😄
[code]
Thanks a lot and sorry for haven't understood the docs well!

May I add this sample in README?

[2018-03-05 14:07] kukulich commented on #299
Maybe later :)

[2018-03-05 14:07] #299 closed

[2018-03-05 16:39] Majkl578 commented on #298
Maybe in the case above it would be better as multi-line `/* ... */` comment. But not in general.

What I don't like is this:
I have a valid code according to CS:
[code]
Now when I comment it out (default IDE behavior is commenting out with `//`, which makes it more obvious as well), it becomes invalid:
[code]

[2018-03-05 17:27] alcaeus commented on #298
I understood your point without explanation. I just think commenting out code like that should be a temporary action. I wouldn't want to see a commit containing code like that, which is why I don't mind `phpcs` complaining about it. That's just my two cents here though.

[2018-03-05 23:04] kukulich commented on #298
I agree with @alcaeus that commented code should be a temporary action but it will not cause any harm if the sniff will ignore these errors.

This should be ignored now:
[code]

This should be still reported:
[code]

[2018-03-05 23:04] #298 closed

[2018-03-06 16:55] ohartl commented on #290
@Majkl578 Note that we had `searchAnnotations=true` too, and it still reported that way.

Thanks @kukulich . I really appreciate the time you spend fixing this.

[2018-03-09 15:57] kukulich opened #301 "Disallow/RequireShortTernaryOperator"

[2018-03-09 15:57] kukulich opened #302 "DisallowEmptyConstruct"

[2018-03-09 16:43] kukulich opened #303 "RequireOneNamespacePerFile"

[2018-03-09 23:07] bwowk opened #304 "ReturnTypeHintSpacingSniff not working"
I have this sniff enabled and configured to check for 1 space before the colon, but it never complains about typehints without spaces:

php-ruleset:
[code]

the problematic typehint:
[code]

[2018-03-09 23:31] bwowk commented on #304
my bad. it works with:
[code]

[2018-03-09 23:31] #304 closed

[2018-03-10 09:01] kukulich commented on #302
Implemented in https://github.com/slevomat/coding-standard/commit/b726427fac6b7ac23aa3605936a4b928d13b808c

[2018-03-10 09:01] #302 closed

[2018-03-10 09:19] kukulich commented on #303
Implemented in https://github.com/slevomat/coding-standard/commit/878cf76152fc8b082f8187e7b2eb8271ab3f6d85.

[2018-03-10 09:19] #303 closed

[2018-03-15 12:06] malarzm opened #305 "False positive in SlevomatCodingStandard.Classes.UnusedPrivateElements.UnusedMethod"
Seems like the sniff is not checking for method usage when passed as `callable`. In Doctrine ODM [`Expr::normalizeSortOrder`](https://github.com/doctrine/mongodb-odm/blob/c77d682033054a63a48c963131218d73a407ddea/lib/Doctrine/ODM/MongoDB/Query/Expr.php#L1418) is reported as unused even though it's used as [array_map's callback](https://github.com/doctrine/mongodb-odm/blob/c77d682033054a63a48c963131

[2018-03-15 12:14] kukulich commented on #305
See https://github.com/slevomat/coding-standard/issues/159

[2018-03-15 12:14] #305 closed

[2018-03-15 12:18] malarzm commented on #305
Ah, thanks for the link and sorry for the noise!

[2018-03-15 12:21] kukulich commented on #305
@malarzm No problem, I like issues that I can easy solve :D

[2018-03-16 09:51] malarzm opened #306 "elseif vs SlevomatCodingStandard.ControlStructures.EarlyExit"
After running automatic fixes this code:

[code]

is changed to:

[code]

Is there any way to prevent such change? We'd rather stick with `elseif`. Cross referencing https://github.com/doctrine/mongodb-odm/pull/1757

[2018-03-16 09:55] kukulich commented on #306
@malarzm You can exclude the code `UselessElseIf` but you should probably discuss it in Doctrine CS.

[2018-03-16 09:57] malarzm commented on #306
Thanks a lot @kukulich for quick response!

[2018-03-16 09:57] #306 closed

[2018-03-16 10:06] malarzm commented on #306
@kukulich by the way am I missing some resources to check existence of switches like `UselessElseIf`? Brief search showed this flag in code only.

[2018-03-16 10:08] kukulich commented on #306
@malarzm It's standard PHPCS configuration, you can exclude types of errors you don't want to be reported, see https://github.com/doctrine/coding-standard/blob/master/lib/Doctrine/ruleset.xml#L15

[2018-03-16 10:09] malarzm commented on #306
I was more asking for where should I look for such things before opening issue and bothering you :)

[2018-03-16 10:11] kukulich commented on #306
You should always run PHPCS with `-s    Show sniff codes in all reports` so you can see what sniff code reports the error.

[2018-03-19 17:34] carusogabriel opened #308 "One-line annotations syntax"
Hi @kukulich.

Just opening this issue to track something we saw at https://github.com/doctrine/doctrine2/pull/7136:

[code]

As [you already mentioned](https://github.com/doctrine/doctrine2/pull/7136#issuecomment-374016287), maybe a simple workaround at `SlevomatCodingStandard.Commenting.InlineDocCommentDeclaration` may fix it.

Thanks :smile:

[2018-03-19 18:06] Majkl578 commented on #308
Imho doesn't make sense. `/* ... */` is a comment whereas `/** ... */` is phpDoc. Converting/interchanging each doesn't make sense.

[2018-03-19 18:54] kukulich commented on #308
@Majkl578 I think `/* @var ... */` can be safely reported by the sniff.

[2018-03-19 19:12] ondrejmirtes commented on #308
/** is correct, PHPStan also only reads phpDocs, it skips /* comments.

On Mon, 19 Mar 2018 at 19:54, Jaroslav Hanslík <notifications@github.com>
wrote:

--

Ondřej Mirtes

[2018-03-21 10:46] kukulich commented on #301
Implemented in https://github.com/slevomat/coding-standard/commit/ef578c419d8ae93fb614237c9d7284b614f221a9 and https://github.com/slevomat/coding-standard/commit/1d4ef77e0254fb1a0409d5ba493bcdd731b01aae

[2018-03-21 10:46] #301 closed

[2018-03-22 14:54] CZechBoY opened #311 "UnusedUse reports use in annotation"
Hi,
i have this code
[code]

and this ruleset.xml
[code]

PHP 7.1.11, Windows 10, slevomat/coding-standard: 4.5.2
command: `php vendor/squizlabs/php_codesniffer/bin/phpcs -d memory_limit=1G --standard=ruleset.xml --extensions=php --encoding=utf-8 --tab-width=4 -sp ../../../web/App/Module`

And cs gives me this warning/error:
[code]

Thanks

[2018-03-22 15:48] CZechBoY opened #312 "EarlyExitSniff: Undefined index when body braces are missing in IF"
Hi,
I got this php error
[code]
when processing code like
[code]

slevomat/coding-standard: 4.5
php: 7.1.11

[2018-03-22 15:51] kukulich commented on #312
@CZechBoY Should this if be ignored or should it report better internal error?

[2018-03-22 15:52] CZechBoY opened #313 "Error when using "else if""
Hi,
I got this php error when my code uses "else if" instead of "elseif":
[code]
while line 84 is
[code]

[2018-03-22 15:53] kukulich commented on #313
@CZechBoY The error is correct, `elseif` is the right version.

[2018-03-22 15:53] #313 closed

[2018-03-22 15:54] CZechBoY commented on #313
I know, but cannot this be somehow easily fixed/accepted by this library? And warn about it via some inspection/check?

[2018-03-22 15:56] CZechBoY commented on #312
I would create new inspection/check for this, but will not throw any error.

Of course better than this is to write something like "Missing curly braces in IF statement."

[2018-03-22 16:04] kukulich commented on #312
"Missing curly braces in IF statement" should be done in other sniff, not here.

[2018-03-22 16:05] kukulich commented on #313
@CZechBoY It could probably be accepted if someone prepare a PR :)

[2018-03-22 16:07] kukulich commented on #311
@CZechBoY There's a bug in your configuration, the right version is:

[code]

[2018-03-22 16:15] CZechBoY commented on #251
Can we somehow ignore errors from `Foo<> notation `? But know whole sniff `SlevomatCodingStandard.Commenting.InlineDocCommentDeclaration.InvalidFormat`.

[2018-03-22 17:15] kukulich commented on #312
Notice fixed in master.

[2018-03-22 17:15] #312 closed

[2018-03-22 17:57] CZechBoY opened #314 "Unused private method, but it is used as callback"
Hi,
I have something like this code
[code]

but method `callbackMethod` is false considered as unused.
slevomat/coding-standard: 4.5

[2018-03-22 18:18] kukulich commented on #314
See https://github.com/slevomat/coding-standard/issues/159

[2018-03-22 18:18] #314 closed

[2018-03-22 18:53] CZechBoY commented on #314
ok, this should be mentioned somewhere as known limitation... phpstorm detected that so the IDE problems are irrelevant now

[2018-03-23 09:10] CZechBoY commented on #313
@kukulich Is it possible to run some pre-checks with phpcs?

[2018-03-23 09:17] kukulich commented on #313
@CZechBoY You can run phpcs with different configuration first.

[2018-03-23 10:37] CZechBoY commented on #311
thank you!

but there are some issues:
1) use is used in class annotation
[code]
2) use is used in intersection annotation
[code]

should i create new task for these problems?

[2018-03-23 11:27] kukulich commented on #311
1. `@method` should be supported so it looks like a bug, please open a issue.
2. `IRow&object` is not supported currently and there is already https://github.com/slevomat/coding-standard/issues/251

[2018-03-23 11:27] #311 closed

[2018-03-23 11:56] CZechBoY opened #315 "UnusedUse: Method annotation with space between name and opening bracket"
Hi,
I have this code, which generates unused use:
[code]

If I remove space between method name and opening bracket, it correctly reports nothing.
working example from above:
[code]

[2018-03-24 10:12] kukulich commented on #315
Thank you for your report, fixed in https://github.com/slevomat/coding-standard/commit/b826f0f31af0e7a093e36a429cf7aa28fd5d1054

[2018-03-24 10:12] #315 closed

[2018-03-28 21:24] marcingy commented on #293
I have had a chance to update and I am still getting errors around line 200 as the annotations get flagged for case violations there when they are totally fine as they are simply strings that happen to match a class name.

[2018-03-29 12:15] novjan opened #320 "Suggestion: NamespaceSpacing"
I have one tip for new Sniff and it is `NamespaceSpacing`.
It will be almost copy/paste of `SlevomatCodingStandard.Namespaces.UseSpacing`, but it will be for Namespace instead of Use.

What do you think?

[2018-03-30 08:30] coudenysj commented on #254
Probably fixed in https://github.com/slevomat/coding-standard/issues/312?

[2018-03-30 15:43] simPod opened #321 "Configuration of UnusedPrivateElements.alwaysUsedPropertiesAnnotations is not consistent with TypeHintDeclaration"
We're using the sniff as follows:

[code]

However, it still triggers errors when sole property is defined without any methods accessing it.

[code]

When the definition gets changed to this, it works properly
[code]

--------------

However, the same works for TypeHintDeclaration

[code]

[2018-03-30 22:24] morozov commented on #254
@coudenysj no, still reproducible. Same steps as above, plus:
[code]
Then:
[code]

[2018-03-31 08:25] kukulich commented on #321
Implemented in https://github.com/slevomat/coding-standard/commit/b4c229b1e01a73aba1d3295c306b029b5d750cae

[2018-03-31 08:25] #321 closed

[2018-03-31 08:49] kukulich opened #322 "NamespaceDeclarationSniff"
- require semicolon
- require only one space after `namespace`

[2018-03-31 08:58] kukulich commented on #320
It looks that `PSR2.Namespaces.NamespaceDeclaration` doesn't check lines before the `namespace` declaration :(

So implemented in https://github.com/slevomat/coding-standard/commit/83e45f80067d9e97f7ebb6034f35d0359f1e1f55 :)

[2018-03-31 08:58] #320 closed

[2018-03-31 09:24] kukulich opened #323 "DocCommentSpacingSniff: support for annotations grouping"

[2018-03-31 09:40] kukulich commented on #293
New option implemented in https://github.com/slevomat/coding-standard/commit/f98302fc594ae9ed5a0f2fcea6b8fc627248223d

[2018-03-31 09:40] #293 closed

[2018-04-01 05:21] Majkl578 opened #324 "UseSpacingSniff doesn't catch superfluous spacing between same types"
[code]

The sniff will only report and fix:
[code]
No error for superfluous line between Bar and Baz.

Not quite sure if this is bug report or feature request, either way it would be nice behavior imho. :)

[2018-04-01 22:14] kukulich commented on #324
Implemented in https://github.com/slevomat/coding-standard/commit/ac5adeae3f77f0a5971ada5e6fa48f136d3ea0c8 :)

[2018-04-01 22:14] #324 closed

[2018-04-03 16:03] kukulich commented on #322
Implemented in https://github.com/slevomat/coding-standard/commit/a123d96f078b83e95d023d352bc641a58921d4ba

[2018-04-03 16:03] #322 closed

[2018-04-04 17:21] gnumoksha opened #327 "[feature request] Force class/file comment"
I want to check if a class or file has a small comment describing its purpose, [like Golang does for its packages](https://blog.golang.org/godoc-documenting-go-code). Is it relevant to this package? Can anyone indicate the way?

[2018-04-04 17:24] ondrejmirtes commented on #327
Should be really easy to implement this by yourself. What have you tried?

On Wed, 4 Apr 2018 at 19:21, Tobias Sette <notifications@github.com> wrote:

--

Ondřej Mirtes

[2018-04-04 17:28] Majkl578 commented on #327
You can take inspiration from [ForbiddenComments sniff](https://github.com/slevomat/coding-standard/blob/master/SlevomatCodingStandard/Sniffs/Commenting/ForbiddenCommentsSniff.php), what you want is basically inversion of that without the fixer part, plus some anchors which should be checked (i.e. class comment).

[2018-04-04 17:41] kukulich commented on #327
@gnumoksha would you prepare PR for both sniffs (RequireClassCommentSniff and RequireFileCommentSniff) ?

[2018-04-05 02:59] gnumoksha commented on #327
I have tried nothing yet, since I have no experience with phpcs. I will try to create both sniffers.

[2018-04-12 16:29] maryo opened #330 "Chained private methods false positive backport to 3.x"
Would it be please please possible to backport this fix into 3.x? I am updating coding standards for an older project on php 7.0.
I would do it myself as I did in my fork but it is probably not possible to make a PR for this (tag or a new branch name). I am using also a consistence/coding standard which last version supporting php 7.0 depends on 3.x.

[2018-04-12 17:06] kukulich commented on #330
I’m sorry but I don’t want to support this old version anymore.

Just exclude the rule - it’s the most simple way.

[2018-04-12 17:06] #330 closed

[2018-04-16 12:29] CZechBoY opened #331 "How to properly check PSR-0/4?"
Hi,
I found that this setting does not work as I expect.
[code]

Can anybody tell me how to set it correctly?

I run CS with this command: `php vendor/squizlabs/php_codesniffer/bin/phpcs -d memory_limit=1G --standard=ruleset.xml --extensions=php --encoding=utf-8 --tab-width=4 -sp ../../../web/App`
directory structure:
[code]

Every file inside App directory is marked as bad. How to set it properly

[2018-04-16 12:50] CZechBoY commented on #331
It should be `App=>App`

[2018-04-16 12:50] #331 closed

[2018-04-21 14:48] paranoiq opened #333 "Preg error when parsing types"
SlevomatCodingStandard\Helpers\TypeHelper::isTypeName() fails with `PREG error 2` when given name like `\Foo\Bar<T>`

[2018-04-21 15:10] Majkl578 commented on #333
This format is not supported.

[2018-04-21 15:33] paranoiq commented on #333
thank you captain obvious. this issue is not about the result of the method, but about it crashing on unexpected input

[2018-04-24 12:09] VasekPurchart opened #334 "WriteOnlyProperty false positive when used in new"
When applying the `SlevomatCodingStandard.ControlStructures.NewWithParentheses` to some old code I started to get `WriteOnlyProperty` errors. Upon further investigation it seems, that `WriteOnlyProperty` will take this:

[code]

as a "read usage", but not like this:

[code]

I know neither one is pretty, but I think it should behave consistently.

[2018-04-24 22:46] vojtamares opened #335 "Codesniffer says one-line comment for @var, after fix asks back for multi-line"
Hello,

I am writing an tiny library for Elasticsearch and Nette fw and I wanted to write some tests, so I am using the [ninjify/qa](https://github.com/ninjify/qa) (it is using slevomat coding-standard). And after I fix the problem, it says it is a problem again and it wants me to reverse the changes and then again...

Code snippet:
[code]

But after running codesniffer I get the following error:

[2018-04-25 00:02] Majkl578 commented on #335
If I understand correctly, you are using https://github.com/ninjify/coding-standard/blob/master/ruleset.xml.
This ruleset seems to import whole SlevomatCodingStandard and selectively exclude some sniffs. This is **not** supported. See https://github.com/slevomat/coding-standard#using-all-sniffs-from-the-standard

This repository is not meant to be used as final CS, rather to selectively enable spe

[2018-04-25 04:30] f3l1x commented on #335
Yep, you right guys. It needs to be fixed.

[2018-04-25 05:08] #335 closed

[2018-04-25 05:13] vojtamares commented on #335
@Majkl578 oh, ok. Well I am new to coding-standard, so I missed that fact quite easily.

If I want to fix it on my own, I should probably create own CS (FiolaSoft/coding-standard) and fork the ninjify/qa. Or be laizy and let someone else fix itfor me (in ninjify/coding-standard).

But since you recommand using Doctrine CS, I will give it a try on my own! Thank you for quick response!

[2018-04-26 16:13] f3l1x commented on #312
Well I've just recieved same error on this code.

[code]

[code]

How to fix it? I mean, I would like to write this type of condition. Should I disable this sniff?

[2018-04-26 16:45] coudenysj commented on #312
You should not write code like that, is the answer here :).

https://www.dwheeler.com/essays/apple-goto-fail.html

[2018-04-26 16:49] kukulich commented on #312
@f3l1x You can prepare PR to support this :)

[2018-04-28 19:35] Majkl578 commented on #333
No need for insulting responses.
Anyway imho not worth fixing since this is not supported anyway and will eventually be handled by #251. (Would like to prepare send PR?)

[2018-04-30 23:19] tomasfejfar opened #336 "Update to phpcs 3.3.0"
This would allow to drop "blank line after class opening bracket" and "blank line before class closing bracket" rules in custom stylesheets [thanks to new options](https://github.com/squizlabs/PHP_CodeSniffer/wiki/Customisable-Sniff-Properties#squizwhitespacefunctionspacing).

[2018-04-30 23:28] tomasfejfar commented on #336
Oh, sorry, you're right. I misread the `composer why` output and it's actually https://github.com/consistence/coding-standard/issues/40 that's locking phpcs.

[2018-04-30 23:28] #336 closed

[2018-05-01 08:55] ping-localhost opened #337 "The `EarlyExit`-sniff rewrites certain `if`-statements incorrectly"
Hello,

I've noticed that the EarlyExit fixer makes a mistake when trying to rewrite a "complex" `if`-statement.

[Example file](https://3v4l.org/iorqr):
[code]

[Expected output](https://3v4l.org/DtZvn):
[code]

[Actual output](https://3v4l.org/g0kDS):
[code]

It seems that the fixer doesn't convert the second operator correctly.

[2018-05-02 16:09] kukulich commented on #337
Thank you for your report.

Fixed in https://github.com/slevomat/coding-standard/commit/f77cd9739bef6c43bce2cdf35127b6a93b98b1a5

[2018-05-02 16:09] #337 closed

[2018-05-02 20:11] kukulich commented on #334
Thank you for your report.

Fixed in https://github.com/slevomat/coding-standard/commit/eb3037b89c54fd6b178adbea51f38d10c7feea78

[2018-05-02 20:11] #334 closed

[2018-05-02 20:39] kukulich commented on #333
@paranoiq Thank you for your report.

Fixed in https://github.com/slevomat/coding-standard/commit/4eedbb1607ddbebca8eb177603a006e1ca7fa382

[2018-05-02 20:39] #333 closed

[2018-05-04 20:20] alcaeus opened #338 "Possible false positive unused use statement with nested annotations"
Not sure if this is a legitimate false positive since there's a workaround, but the following annotation produces an unused use error:
[code]

In this case, the `use` statement for the `NotBlank` constraint is reported as unused. Changing the annotation to `@NotBlank()` fixes the error.

[2018-05-07 13:08] ping-localhost commented on #337
@kukulich Any idea when you will push a new release?

[2018-05-09 08:17] kukulich opened #341 "Goto label should not be resolved as constant"

[2018-05-09 08:18] kukulich opened #342 "Sniff to disallow ++, --"

[2018-05-09 10:47] VasekPurchart commented on #334
Thanks, tested on master :)

[2018-05-09 19:55] kukulich commented on #341
Fixed in https://github.com/slevomat/coding-standard/commit/f6f48ae3baacef3d524aa2419aba11d68925e41b

[2018-05-09 19:55] #341 closed

[2018-05-09 20:03] kukulich commented on #338
Thank you for your report.

Fixed in https://github.com/slevomat/coding-standard/commit/3d5de20445b175b763cef3502409d3e96d22f9b2

[2018-05-09 20:03] #338 closed

[2018-05-09 22:05] kukulich commented on #342
Implemented in https://github.com/slevomat/coding-standard/commit/83c356fe3bd21ccae5ff108cd9bd920e2ebc0e6d

[2018-05-10 07:44] gmponos commented on #342
May I ask why someone would like to disallow these?

[2018-05-10 07:54] kukulich commented on #342
@gmponos See https://github.com/doctrine/coding-standard/pull/56

[2018-05-10 07:59] ondrejmirtes commented on #342
Swift also removed these operators 😊
https://github.com/apple/swift-evolution/blob/master/proposals/0004-remove-pre-post-inc-decrement.md

On Thu, 10 May 2018 at 09:54, Jaroslav Hanslík <notifications@github.com>
wrote:

--

Ondřej Mirtes

[2018-05-11 16:36] EvgenyOrekhov opened #343 "SlevomatCodingStandard.ControlStructures.EarlyExit - Fatal error"
https://github.com/slevomat/coding-standard/blob/1e609159241fa90d5a429f185b2ea9b881340a7c/SlevomatCodingStandard/Sniffs/ControlStructures/EarlyExitSniff.php#L476

I don't know how to make PHP_CodeSniffer tell me the name of the file that trips up the sniffer.

Slevomat Coding Standard version: 4.5.2
PHP version: 7.2.3

[2018-05-11 17:07] kukulich commented on #343
@EvgenyOrekhov Can you try dev-master?

[2018-05-11 18:43] EvgenyOrekhov commented on #343
@kukulich I will try it on Monday.

[2018-05-12 18:11] SebastianS90 opened #344 "Fix for ReferenceViaFullyQualifiedNameWithoutNamespace is wrong"
`SlevomatCodingStandard.Namespaces.ReferenceUsedNamesOnly.ReferenceViaFullyQualifiedNameWithoutNamespace`

The fix does:

[code]

But it should:

[code]

[2018-05-12 18:41] kukulich commented on #344
@SebastianS90 Please post full example. Your code should not be checked because there is no doccomment.

[2018-05-12 19:05] SebastianS90 commented on #344
`phpcs.xml`
[code]

`foo.php`
[code]

`$ phpcs  foo.php`
[code]

`$ phpcbf  foo.php`
[code]

`foo.php`
[code]

`$ git diff`
[code]

[2018-05-13 19:33] kukulich commented on #344
Thank you for your report. Fixed in https://github.com/slevomat/coding-standard/commit/2b5a5a2768f058fd77cb069974b7fe9427cae94c

[2018-05-13 19:33] #344 closed

[2018-05-14 09:54] EvgenyOrekhov commented on #343
@kukulich Got the same error on dev-master:

Fatal error: Allowed memory size of 2147483648 bytes exhausted (tried to allocate 2147483656 bytes) in /app/vendor/slevomat/coding-standard/SlevomatCodingStandard/Sniffs/ControlStructures/EarlyExitSniff.php on line 488

https://github.com/slevomat/coding-standard/blob/2b5a5a2768f058fd77cb069974b7fe9427cae94c/SlevomatCodingStandard/Sniffs/ControlStructur

[2018-05-14 09:57] kukulich commented on #343
@EvgenyOrekhov Ok. Please try verbose modes for PHPCS to detect the file and please post the file here. I'm not able to fix it without the code.

[2018-05-14 12:13] EvgenyOrekhov commented on #343
@kukulich I reduced the original file to the simplest case that generates the error. The original file is a "view" file that contains HTML and PHP. PHP_CodeSniffer's built-in sniffers are perfectly capable of analyzing this kind of files.

[2018-05-14 21:10] paranoiq opened #345 "EarlyExitSniff crashing"
fails on file:
[code]
with output:
[code]

[2018-05-14 21:13] kukulich commented on #345
@paranoiq Can you try `dev-master` please? I think I fixed this already.

[2018-05-14 21:20] paranoiq commented on #345
@kukulich nope. still fails with `slevomat/coding-standard (dev-master 2b5a5a2)`

[2018-05-15 10:29] nicwortel opened #346 "AlphabeticallySortedUses: make the PSR-12 order default"
As of PhpStorm 2018.1, [the order of class, function and constant `use` statements follows the order defined by PSR-12](https://youtrack.jetbrains.com/issue/WI-40357).

Therefor, the [default order in the sniff that was PhpStorm compatible](https://github.com/slevomat/coding-standard#slevomatcodingstandardnamespacesalphabeticallysorteduses-) no longer makes sense (unless when using an older PhpSto

[2018-05-15 13:36] novjan opened #347 "Release plans"
Do you have any release plans?
I see a lot of good sniffs in master, which I would like to use, but still not released.

Thank you.

[2018-05-15 13:37] #347 closed

[2018-05-15 14:34] Majkl578 commented on #346
So far I have only seen random sort in PhpStorm.

This is a huge BC break.

[2018-05-15 14:48] nicwortel commented on #346
I have to be a bit more specific: the auto-import function of PhpStorm indeed seems to be random. However, if you reformat your code (with "Optimize imports" enabled), PhpStorm will sort the `use` statements. The order used to be classes, constants, functions, but [has been changed in 2018.1 to classes, functions, constants](https://youtrack.jetbrains.com/issue/WI-40357) to be consistent with PSR-

[2018-05-15 14:51] tomasfejfar opened #348 "ForbiddenComments should remove line with comment if result is empty"
I have ForbiddenComments sniff set up. When phpcbf removes the comment and there is nothing left in the whole comment block, the comment block is removed. So far so good. But if there is other content, only the text itself is removed and an empty comment line is left behind.

Actual:
[code]

Expected:
[code]

[2018-05-15 15:09] kukulich commented on #348
Use `DocSpacingSniff` that should resolve this.

[2018-05-15 15:26] tomasfejfar commented on #348
Thanks, I couldn't find it because I was checking the code directly in the project's vendor dir that was not on the latest version.

This will probably fix it. Although I still think it should be possible to remove the lines without enforcing specific number of newlines in all docblocks.

[2018-05-15 18:00] #342 closed

[2018-05-15 18:15] kukulich commented on #345
Fixed in https://github.com/slevomat/coding-standard/commit/9cefbf1067b580c3878f5202a2b4e234f0a71b3f

[2018-05-15 18:15] #345 closed

[2018-05-17 11:52] ostrolucky opened #349 "ReferenceUsedNamesOnlySniff imports classes which are in conflict"
[code]

[2018-05-23 05:00] alcaeus opened #351 "Idea: Check multi-line method call syntax"
This is relevant for code building on fluent interfaces, e.g. when using the query builders provided with Doctrine ORM or MongoDB ODM. The idea is to force the following syntax for multi-line function calls:
[code]

I was able to come up with the following rules
* Similar to multi-line function declarations, once there's a newline in a series of method calls, there MUST NOT be more than one call p

[2018-05-23 05:05] alcaeus opened #352 "Idea: Require trailing comma in multi-line annotations"
This sniff would compare to `SlevomatCodingStandard.Arrays.TrailingArrayCommaSniff` and require a trailing comma on each line of a multi-line annotation. The idea is to reduce the diff size when adding a new property or item in a list. Caveat: I'm not sure if it's possible to properly check coding standards in docblocks - my parser knowledge ends well before that.

[code]

[2018-05-23 06:40] kukulich commented on #351
I'll think about it. It's not easy but it's possible :)

Maybe there could also be an optional settings for method list that should always increase indentation level.

[2018-05-23 06:43] kukulich commented on #352
It's possible but it's difficult. We'll see :)

[2018-05-23 06:53] alcaeus commented on #351
Sniff-level option is difficult, since builders may require moving back a few indentation levels. Take MongoDB ODM's aggregation builder for example:
[code]

[2018-05-23 12:31] Majkl578 commented on #352
I like the idea, but this is Doctrine-specific. Although Doctrine Annotations are widespread enough so it should imho be fine here.
My suggestion: Wait for Annotations 2.0, there will be proper grammar & grammar-based parser, maybe also AST. Should be fully backward compatible. :)

[2018-05-23 20:35] Majkl578 commented on #346
FYI PSR-12 was moved back to discussion phase.

[2018-05-23 20:45] Majkl578 opened #353 "Split TypeHintDeclaration sniff"
This sniff is doing too much, also is extremely complex.
I'd like to propose splitting it into smaller sniffs, basically per use-case described in readme, namely:
* PropertyType - check that property always has `@var`
* FunctionParameterType - check that parameter has either native type or `@param`
* FunctionReturnType - check that function/method either native return type or `@return`
* CompleteF

[2018-05-23 21:02] kukulich commented on #353
@Majkl578 This is just my intention for 5.0 so I’m very happy you make up all the sniffs names :)

There are some more sniffs that should be splitted to.

[2018-05-28 07:28] marcelloh opened #355 "MissingTraversableReturnTypeHintSpecification unclear how to fix"
I use a multidimansional array as a return value

I'm trying to fix this, but it is unclear to me, what the format is of the annotation

I even checked this to be sure:
var_dump("array",is_array($aResultPrefs));
var_dump('iter',is_iterable($aResultPrefs));
if($aResultPrefs instanceof \Traversable) {
    echo "is traversable";
}
and it's an array and is_iterable.

So my docBlock comment is:
* @retu

[2018-05-28 07:47] kukulich commented on #355
@marcelloh You have to specify the type of the items. Eg. `@return string[]|array` or `@return mixed[]|iterable`

[2018-05-28 07:47] #355 closed

[2018-05-28 08:49] marcelloh commented on #355
thanks :-) I though I had tried everything, but this combination was new hahaha...

[2018-05-29 19:16] marcelloh opened #356 "typehint on construct?"
MyClass::__construct() does not have return type hint for its return value but it should be possible
to add it based on @return annotation "RuntimeException". (SlevomatCodingStandard.TypeHints.TypeHintDeclaration.MissingReturnTypeHint)

A construct should not have return type hint, I think

[2018-05-29 19:40] ondrejmirtes commented on #356
Sounds like you should not have a @return annotation above your constructor.

On Tue, 29 May 2018 at 21:16, marcelloh <notifications@github.com> wrote:

--

Ondřej Mirtes

[2018-05-30 05:39] #356 closed

[2018-05-30 06:19] marcelloh opened #357 "SlevomatCodingStandard.ControlStructures.EarlyExit.EarlyExitNotUsed strange"
It complains about an early exit in a constructor.

And I thought I missed out on something, so I went looking for sometime hahaha, fooled me.
This is a bug.

[2018-05-30 06:20] kukulich commented on #357
@marcelloh Post an example please.

[2018-05-30 07:19] marcelloh commented on #357
``

      /**
       * AutoAction constructor.
       */
      public function __construct(Container $container)
      {
          $settings = $container->get('settings');

          $fileName = ROOTDIR .'/logs/'.$settings['logfile'].'.log';
          if (!file_exists($fileName))
          {
              // if the logfile doesn't exist, we do some extra stuff
              $this->deleteCache();

[2018-05-30 07:21] kukulich commented on #357
The sniff is right. You should you early exit.

[2018-05-30 07:21] #357 closed

[2018-05-30 07:27] kukulich commented on #357
[code]

[2018-05-30 07:36] marcelloh commented on #357
:-) it's early thanks for the patience

[2018-05-31 05:15] marcelloh opened #358 "__construct() and a return type hint"
It complaints about a MissingReturnTypeHint in the code below.

What to do to fix this?
``

    /**
     * Constructor.
     *
     * @return RuntimeException
     */
    public function __construct(string $message = '')
    {
        $stackTrace = debug_backtrace(DEBUG_BACKTRACE_IGNORE_ARGS, 3);

        $message .= "\n(" . basename($stackTrace[0]['file'], '.php') . ' function:' . $stackTrace[1][

[2018-05-31 05:54] #358 closed

[2018-05-31 08:16] marcelloh commented on #358
again: thanks for your patience. :-)

[2018-06-06 08:02] enrmarc opened #359 "Is there a way to disable `void` return type hint in MissingReturnTypeHint?"
Hi. With a function like this:

[code]

I get: `Method \A::foo3() does not have void return type hint`. Is there a way to disable the warning for `void` return types?

Thanks.

[2018-06-06 14:28] Majkl578 commented on #359
Since the rules aim at PHP 7.1+ code, why would you do that?

[2018-06-06 15:42] enrmarc commented on #359
I didn't know that PHP 7.1+ enforces the void return type. Then, alright.

[2018-06-06 15:42] #359 closed

[2018-06-06 15:50] Majkl578 commented on #359
It doesn't enforce it, but the MissingReturnTypeHint sniff tries to enforce return types where possible, and since 7.1 has `void`, it's why it wants you to add it. :)

[2018-06-07 05:09] alcaeus commented on #359
FWIW, there's also the option to:
- disable the `enableVoidTypeHint` option on the sniff in your ruleset. Note that the option is deprecated and will disappear in a future release
- Disable the checks explicitly using the suppression feature the sniff provides (IIRC, `@phpcsSuppress SlevomatCodingStandard.TypeHints.TypeHintDeclaration.MissingReturnTypeHint` on each method where you can't add the t

[2018-06-07 09:00] kukulich opened #360 "PHPCS 3.3"
https://github.com/squizlabs/PHP_CodeSniffer/releases/tag/3.3.0

[2018-06-07 12:03] Majkl578 commented on #360
Hmm, lovely, ReturnTypeHintSpacing is completely broken. Incorrect spacing is not even detected by the sniff and is forcibly fixed to not have space before colon. :angry:

semver ftw

[2018-06-07 12:07] kukulich commented on #360
I'm happy I have tests because the upgrade will be very painful.

[2018-06-07 12:12] Majkl578 commented on #360
https://github.com/squizlabs/PHP_CodeSniffer/issues/2049

Doctrine CS is broken too: https://travis-ci.org/doctrine/coding-standard/builds/389215937

[2018-06-07 12:13] kukulich commented on #360
Hmm, standard situation with PHPCS release :(

[2018-06-10 22:17] carusogabriel commented on #360
@kukulich Something we can help?

[2018-06-11 16:28] kukulich commented on #360
https://github.com/slevomat/coding-standard/pull/361

[2018-06-11 19:31] #360 closed

[2018-06-12 20:47] jwage opened #362 "IncorrectReturnTypeHint with generator not producing correct return type hint"
Hi, I have the following code that is using variadics and generators. When I run `./vendor/bin/phpcbf` it changes the `iterable` return type hint on the anonymous function to void.

[code]

Changed to:

[code]

The sniff is `SlevomatCodingStandard.TypeHints.TypeHintDeclaration.IncorrectReturnTypeHint`

Let me know if you need any additional  information. I could possibly attempt a test and fix if

[2018-06-12 21:32] kukulich commented on #362
Thank you for your report.

Fixed in https://github.com/slevomat/coding-standard/commit/5a23c5702f69d9a899ded354f70b61f551f36632

[2018-06-12 21:32] #362 closed

[2018-06-12 21:46] jwage commented on #362
Thanks!

[2018-06-14 21:12] ADmad opened #363 "Fixer for `ControlStructures.NewWithParentheses` generates invalid syntax."
For e.g. the fixer converts

[code]
to

[code]

[2018-06-14 21:43] ADmad commented on #363
Apologies, it seems it's the fixer for `PSR12.Classes.ClassInstantiation.MissingParenthesis` that is generating the invalid syntax.

[2018-06-14 21:43] #363 closed

[2018-06-18 12:01] carusogabriel opened #364 "Missing @inheritdoc support for properties"
Hi @kukulich. This is more a question than a bug report. Does `@var` annotations have the concept of `@inheritdoc`? e.g.:
[code]

Using `SlevomatCodingStandard.TypeHints.TypeHintDeclaration.MissingPropertyTypeHint`, it reports some cases related to that.

[2018-06-18 13:49] Majkl578 commented on #364
https://docs.phpdoc.org/guides/inheritance.html#properties

[2018-06-19 08:02] stephanvierkant commented on #242
See #353

[2018-06-19 12:03] Majkl578 commented on #242
FYI for now you can use `phpcs-only="true"` to disable fixers for specific rules (should imho work with specific codes too).

[2018-06-19 16:11] Majkl578 opened #365 "EarlyExitSniff throws exception for "else if""
Using `else if` instead of `elseif` makes the sniff throw an exception:
[code]

[code]

This should imho be interpreted the same way as `elseif`.

[2018-06-19 16:17] Majkl578 opened #366 "LongTypeHintsSniff fails to fix Boolean"
The following code fails causes the sniff to error out:
[code]

[2018-06-19 16:46] kukulich commented on #365
If somebody prepares PR, I’m ok to merge it but I don’t want to invest my time to support it :)

[2018-06-21 16:28] janedbal opened #367 "UnusedPrivateElements: false positive with constant in string"
Following code:
[code]

results in `Class Foo contains unused private constant FOO` error.

[2018-06-26 05:55] marcelloh opened #368 "MissingReturnTypeHint, but don't know how to fix it"
This is the code that gives me
[code]
can you give me a hint please?
[code]

[2018-06-26 06:28] kukulich commented on #368
@marcelloh The sniff reports bug in “setPrice” method, not in “getPrice”. And I think the error message is selfdescribing.

[2018-06-26 06:28] #368 closed

[2018-06-26 07:08] marcelloh commented on #368
how awfull, been staring at this for too long, glad somebody is awake. I feel so ashamed hahaha...
(been working too long these days)

[2018-06-27 12:44] janedbal opened #369 "DisallowedYodaComparison: invalid error when using null coalesce operator with comparison"
Following code
[code]

produces error `Yoda comparisons are disallowed.`

[2018-06-29 09:52] dhaarbrink opened #370 "UnusedUse incorrectly reported"
Suppose you have the following class:

[code]

Then I incorrectly get the following error:

The `User` is not used in code, that is correct. But it *is* used in an annotation, which is just as valid.

And in this case I cannot supply a typehint for the getId() method because it is defined in BaseSchema which is not under my control.

[2018-06-29 10:43] ondrejmirtes commented on #370
Looks like you don't have `searchAnnotations` turned on: https://github.com/slevomat/coding-standard#slevomatcodingstandardnamespacesunuseduses-

[2018-06-29 19:42] kukulich commented on #367
Thank you for your report.

Fixed in https://github.com/slevomat/coding-standard/commit/98fa7a32590be759da96cd63122e4bc1f7828f07

[2018-06-29 19:42] #367 closed

[2018-06-29 19:50] kukulich commented on #366
Thank you for your report.

Fixed in https://github.com/slevomat/coding-standard/commit/c93f5bb6dbc15f6b1adcbba47d7c276e151ec50d

[2018-06-29 19:50] #366 closed

[2018-06-29 19:57] kukulich commented on #364
Thank you for your report.

Fixed in https://github.com/slevomat/coding-standard/commit/f8e8d4de3d0bf00bf6234cde245f8307239cba77

[2018-06-29 19:57] #364 closed

[2018-06-29 20:06] kukulich commented on #369
Won't fix. It's too complicated.

[2018-06-29 20:06] #369 closed

[2018-07-02 01:01] morozov opened #371 "EarlyExitNotUsed sniff promotes inconsistent code organization"
Consider an example:
[code]
[code]
The two `if`-statements are identical and have the same semantics. Using an early exit in the latter will make them look different and therefore will increas the cognitive load on the reader.

Besides that, even with one `if`-statement in the block, the sniff sometimes produces a sub-optimal suggestion:
[code]
[code]
In this case, fixing this violation will not r

[2018-07-02 01:08] morozov commented on #371
@Majkl578 what do you think?

[2018-07-02 01:28] morozov commented on #371
I'd make an exception here and only report the violation if the block is larger than one line (same as the `return` statement which is proposed to be used instead).

[2018-07-02 08:54] kukulich commented on #371
Agreed. That's why is a little difficult to satisfy everyone's needs. Currently I prefer not to do any exceptions in the sniff. You can always use `phpcs:disable` comment for a specific lines of code.

[2018-07-02 12:56] janedbal commented on #367
Thanks!

[2018-07-02 13:47] dereuromark commented on #371
The "fixing" part should only be added where it won't break code.
Here it clearly would.

As such this must be just a warning (or at least a non fixable error) instead of the code flow continues as in this case.

[2018-07-02 13:52] kukulich commented on #371
@dereuromark

How would the sniff break the code?

[2018-07-02 13:55] dereuromark commented on #371
Ah, I see the [x] is only there for the 2nd if. So it seems fine then. Nothing that can be done here then.

[2018-07-04 02:16] carusogabriel opened #372 "RequireShortTernaryOperator improvements"
Small improvements that we can make to this Sniff :smile:

`RequireShortTernaryOperator` does not work with properties:
[code]

`RequireShortTernaryOperator` does not work with parentheses when them surround the first variable:
[code]

Btw, using this second example, is there a Sniff to remove these unnecessaries parentheses? :innocent:

[2018-07-05 19:58] kukulich opened #373 "UselessVariableSniff"

[2018-07-05 20:00] kukulich opened #374 "UselessParenthesesSniff"
https://github.com/doctrine/doctrine2/pull/7297#discussion_r200220249

[2018-07-06 05:09] kukulich opened #375 "UselessAliasSniff"
https://github.com/doctrine/coding-standard/pull/68

[2018-07-07 06:08] kukulich opened #376 "UnusedParameterSniff"

[2018-07-09 06:16] kukulich opened #378 "UselessSemicolonSniff"
https://github.com/slevomat/coding-standard/pull/377

[2018-07-09 08:01] VasekPurchart commented on #373
I think this would catch a lot of false positives, like variables used to clear up the code (instead of nesting calls). So I think this should be more specific.

[2018-07-09 15:17] carusogabriel opened #379 "RequireCombinedAssignmentOperatorSniff"
Force the usage of `{operator}=`. E.g.:

[code]

[2018-07-09 15:19] VasekPurchart commented on #379
Probably rather `.=` in the 2nd case? :)

[2018-07-09 15:29] kukulich commented on #379
Shit... I would be much easier to add `+=` everywhere ;)

[2018-07-09 16:46] Majkl578 commented on #376
I smell lots of false positives... :(

[2018-07-12 16:21] paranoiq opened #380 "IncorrectLinesCountBeforeNamespace confused by phpcs directive"
[code]
passes
[code]
does not

the only difference is in the order of comments

[2018-07-13 11:00] kukulich commented on #380
Thank you for your report.

Fixed in https://github.com/slevomat/coding-standard/commit/40f46e275f9e07278eb324cc7769ca530b83b298

[2018-07-13 11:00] #380 closed

[2018-07-13 14:10] kukulich commented on #375
Implemented in https://github.com/slevomat/coding-standard/commit/eccb7d9b0cd65e691af9d07f70fd521596937aad

[2018-07-13 14:10] #375 closed

[2018-07-13 14:12] #371 closed

[2018-07-13 15:36] ostrolucky opened #381 "ReferenceUsedNamesOnlySniff duplicates use statements"
[code]

[2018-07-13 16:16] kukulich commented on #378
Implemented in https://github.com/slevomat/coding-standard/commit/7b98b4e3c6f345084fd3d1e86de536e95ab032e4

[2018-07-13 16:16] #378 closed

[2018-07-13 16:17] kukulich commented on #381
@ostrolucky Could you please prepare failing test?

[2018-07-13 17:19] kukulich opened #382 "UselessConstantDocCommentSniff"

[2018-07-13 17:41] ostrolucky commented on #381
Sure if you provide guidance. I'm not familiar with your codebase.

[2018-07-13 17:59] kukulich commented on #381
@ostrolucky The “tests” directory is full of tests so you can have a look there.

[2018-07-13 18:05] ostrolucky commented on #381
Yeah but ReferenceUsedNamesOnlySniff has no .fixed.php tests

[2018-07-13 18:09] kukulich commented on #381
If you have found .fixed.php files I think you’re also capable to find how to use them :)

[2018-07-13 18:31] kukulich opened #383 "UnusedVariableSniff"

[2018-07-13 18:33] kukulich opened #384 "UnusedInheritedVariableFromParentScopeSniff"

[2018-07-13 21:12] kukulich commented on #384
Implemented in https://github.com/slevomat/coding-standard/commit/171cb510f4f3b894557ff1940d4115cb3750ca25

[2018-07-13 21:12] #384 closed

[2018-07-14 17:22] carusogabriel opened #385 "[BUG] UselessSemicolonSniff crashes with variable inside {}"
Error:

[code]

Snippet to reproduce:

[code]

[2018-07-14 18:57] kukulich commented on #385
Thank you for your report.

Fixed in https://github.com/slevomat/coding-standard/commit/09774a4f7b486bda0bea65bcacbba922c6e0c68d

[2018-07-14 18:57] #385 closed

[2018-07-15 21:23] #381 closed

[2018-07-15 21:53] kukulich commented on #383
Implemented in https://github.com/slevomat/coding-standard/commit/fd5cb5b728d5770a362ce76e1ea7fd7fd02cf12c

[2018-07-15 21:53] #383 closed

[2018-07-16 22:35] kukulich commented on #372
Improved in https://github.com/slevomat/coding-standard/commit/f1748b9926e63ef789824409aeb971c0dc3b9c84

[2018-07-16 22:35] #372 closed

[2018-07-18 16:22] kukulich commented on #376
Implemented in https://github.com/slevomat/coding-standard/commit/e4f40ed8e192758736798aacd92575961e168df2

[2018-07-18 16:22] #376 closed

[2018-07-19 11:53] VasekPurchart opened #386 "Detecting unused closure use variables"
Inspired by the recent unused/useless sniffs you were creating I think detecting unused uses in closures would be also helpful:

[code]

Can't think of any false positive cases either right now.

Not sure about the name, but maybe something like `Functions.UnusedClosureUseVariable`?

[2018-07-19 12:13] kukulich commented on #386
Something like https://github.com/slevomat/coding-standard/commit/171cb510f4f3b894557ff1940d4115cb3750ca25 ? :)

Still not sure about the name :)

[2018-07-19 12:22] Majkl578 opened #387 "Sniff to forbid & replace __CLASS__, get_class(), get_parent_class() and get_called_class()"
* Replace `__CLASS__` with `self::class`
* Replace `get_class($this)` (with `$this` or no arguments) by `static::class`
* Replace `get_parent_class()` (without arguments) with `parent::class`
* Replace `get_called_class()` with `static::class`

`https://github.com/symfony/symfony/pull/27860`

[2018-07-19 12:35] kukulich commented on #387
Nice idea!

Do you have suggestion for the sniff name?

[2018-07-19 12:38] Majkl578 commented on #387
I was thinking about `ModernClassNameReferencesSniff`, but dunno if you prefer one sniff or four. :)

[2018-07-19 12:40] kukulich commented on #387
I think I will add one sniff with four codes.

[2018-07-20 16:31] kukulich commented on #387
Implemented in https://github.com/slevomat/coding-standard/commit/45aa8d0d9f58a595f8b027e1a3232b53bc6af646

[2018-07-20 16:31] #387 closed

[2018-07-20 20:39] thewilkybarkid opened #388 "UseStatementHelper only recognises first item"
It seems like `UseStatementHelper` only recognise the first item in a `use` statement, leading to `ReferenceUsedNamesOnlySniff` thinking that global fallbacks are used.

For example:

[code]

with

[code]

results in

[code]

Even though there are `use` statements for both `bar()` and `BAR`.

[2018-07-20 20:53] kukulich commented on #388
Yes, we don't support more declarations per line.

If you prepare PR, I will merge it but I'll not invest my time to support this.

[2018-07-20 23:07] kukulich opened #389 "TraitUseDeclarationSniff"

[2018-07-20 23:07] kukulich opened #390 "TraitUseSpacingSniff"

[2018-07-20 23:07] kukulich commented on #390
Implemented in https://github.com/slevomat/coding-standard/commit/d1c493ae1ee0f22fddb91dc847217161cb858cf1

[2018-07-20 23:07] #390 closed

[2018-07-20 23:08] kukulich commented on #389
Implemented in https://github.com/slevomat/coding-standard/commit/d7347f9c16a4085ee1fb2a4a6a4819e551c9dcdd

[2018-07-20 23:08] #389 closed

[2018-07-25 01:24] carusogabriel opened #391 "[Question] How to ensure return types"
Hello there. I have a question for you: How can I ensure return types in my application with PHPCS + Slevomat? For example:
[code]

Thank you for your help :smile:

[2018-07-25 01:26] carusogabriel opened #392 "Remove unecessary variable when followed by a return"
I don't know if this is a valid rule for `UnusedVariable`, maybe `UnecessaryVariable`, but:

[code]

[2018-07-25 01:41] Majkl578 commented on #392
Duplicate of https://github.com/slevomat/coding-standard/issues/373 (where you actually added 🎉).

[2018-07-25 01:43] Majkl578 commented on #391
Heh, [`SlevomatCodingStandard.TypeHints.TypeHintDeclaration`](https://github.com/slevomat/coding-standard#slevomatcodingstandardtypehintstypehintdeclaration-) does this, right? It's one of the core sniffs which Doctrine is also using.
2nd declaration is invalid.
Or am I missing something?

[2018-07-25 02:07] #392 closed

[2018-07-25 02:09] carusogabriel commented on #391
@Majkl578 I'm migrating a legacy code base for PHP 7, and I'd like to introduce types. Sometimes we can't ensure with PHP 7, but at least if we could provide any return documentation, I'd be useful!

[2018-07-25 05:06] kukulich commented on #391
The sniff will report second and third function. The function with return annotation is fixable - annotation can be converted to return type. The function without annotation and type hint will only be reported.

[2018-07-27 12:57] ADmad opened #394 "FullyQualifiedClassNameInAnnotation modifies descriptions too."
The fixer for `SlevomatCodingStandard.Namespaces.FullyQualifiedClassNameInAnnotation` is a bit overzealous and unnecessarily modifies param descriptions too.

For e.g. it changes tag
[code]
to
[code]
expected was
[code]

[2018-07-27 18:51] Michal-sk opened #395 "Replace or / and"
I must be overlooking it. Is there a rule to replace or / and with || &&

[2018-07-27 19:05] carusogabriel commented on #395
@Michal-sk You can use `Squiz.Operators.ValidLogicalOperators` from https://github.com/squizlabs/PHP_CodeSniffer :smile:

[2018-07-27 19:19] carusogabriel opened #396 "Bug with UnusedVariableSniff"
[code]

[2018-07-27 19:29] #391 closed

[2018-07-27 19:29] #395 closed

[2018-07-27 19:41] Michal-sk commented on #395
Tnx

[2018-07-30 06:40] kukulich commented on #396
Thank you for your report.

Fixed in https://github.com/slevomat/coding-standard/commit/445006e48dc4d8a0e4ea87dae9c803c4e3007f6e

[2018-07-30 06:40] #396 closed

[2018-07-30 07:56] carusogabriel commented on #373
This might help us
https://github.com/FriendsOfPHP/PHP-CS-Fixer/blob/2.12/src/Fixer/ReturnNotation/ReturnAssignmentFixer.php

[2018-07-30 14:23] kukulich commented on #394
Thank you for your report.

Fixed in https://github.com/slevomat/coding-standard/commit/f9f15e8b2f31e800fba112272275cd90405a61df